.content-hero {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 7em;

  .browser {
    width: 100%;
    height: auto;
    padding: 12px;
    border-radius: 36px;
    background: #f6f9fc;
    box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
      0 30px 60px -30px rgba(0, 0, 0, 0.3),
      inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    img {
      width: 100%;
      height: auto;
      border-radius: 36px;
    }
  }
}
@media (max-width: 599px) {
  .content-hero {
    .browser {
      display: none !important;
      max-width: 100%;
      height: auto;
      img {
        max-width: 100%;
      }
    }
  }
}
