.footer {
  max-width: 1024px;
  margin: -3rem auto 0.75rem;
  width: 100%;

  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    li {
      list-style-type: none !important;
    }
  }

  a {
    font-size: 0.75em;
    padding: 0 0.6875em;
    color: $gray-5;
  }
}
