// colors
$primary: #4158f6;
$gray-10: #383838;
$gray-5: #969696;

// general
$container-width: 1024px;
$border-radius: 0.25rem;

// fonts
$heading-color: $gray-10;
$body-color: $gray-5;

// button
$button-font-size: 1rem;
$button-font-family: "Inter";
$button-font-weight: 500;
$button-font-color: #ffffff;
$button-background-color: $primary;
$link-color: $primary;
