<section class="section-home-hero container-40 text-centers">
  <h1 class="text--eyebrow">{{h1}}</h1>
  <h2 class="font-47 text-bold">{{h2}}</h2>
  <p class="font-42 mb-2">
    {{description}}
  </p>
</section>