<div class="page-hero">
  <div class="page-hero__content container-40">
    <h1 class="font-47 font-weight--800">{{ h1 }}</h1>
    <h2 class="font-43 font-paragraph">{{ h2 }}</h2>
  </div>
  <article class="page-hero__image {{imageClasses}}" style="background-image: url({{ image }})"></article>
</div>