<!DOCTYPE html>
<html lang="en">
  {% include 'head.md' %}
  <body>
    <div class="min-h-screen flex items-center justify-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
      <div class="max-w-6xl w-full space-y-8">
        <div>
          <h1 class="mt-6 text-center font-bold text-5xl mb-2">
            {{h1}}
          </h1>
        </div>
        <div class="grid grid-cols-2 gap-3">
          <div class="flex align-center justify-center card  bg-white text-lg w-full p-10 mb-6 sm:inline-block space-y-4">
            <div class="self-center">
              {% include 'testimonial.md' %}
            </div>
          </div>
          <div class="card card-dotted">
            <div class="card-content">
              <div class="card-content-title">
                <h6 class="text-2xl font-bold text-white text-center font-mono">Contact Us Today</h6>
              </div>
              <div class="card-content-body">
                {% include 'form.md' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

