<article class="callout">
  <div class="wrap900">
    <div class="base text-center">
      <h2 class="scroll fadeUp">Ready for a better site?</h2>
      <p class="scroll fadeUp">If you're not sure your project fits the bill, send it to us anyway. We'll let you know within a couple of days.</p>
      <a class="button scroll fadeUp" href="/contact">Get Started</a>
    </div>
  </div>
</article>
