<section class="wrapper-sm">
    <div class="card-dotted">
        <div class="content">
            <div class="bg-white p-10 text-center">
                <h6 class="h5 text-blue-400">Ready for a better site?</h6>
                <p class="text-gray-700 font-thin mb-6">If you're not sure your project fits the bill, send it to us anyway.<br /> We'll let you know within a couple of days.</p>
                <a href="/contact" class="btn btn-blue">Setup a 30 minute call</a>
            </div>
        </div>
    </div>
</section>