<!DOCTYPE html>
<html lang="en">
  {% include 'head.md' %}
  <body>
    {% include 'nav.md' %}
    {% include 'hero.md' %}
    <section class="max-w-7xl mx-auto">
      {{ content | safe }}
    </section>
  </body>
</html>