<article class="callout">
  <div class="wrap1000">
    <div class="base text-center">
      <h2 class="scroll fadeUp">Need additional Support?</h2>
      <p class="scroll fadeUp">Get in touch with the Loopdash team today.</p>
      <a class="button scroll fadeUp" href="/contact">Get in Touch</a>
    </div>
  </div>
</article>
