<footer class="site-footer">
  <div class="mx-auto text-center letter-spacing-1 text-1">
    <p class="m-1"><a href="/" class="link plausible-event-name=Footer+Link+Click+Loopdash">Loopdash</a> <span class="text-1">/</span> {{siteVersion}}</p>
    <p class="m-0 pb-16"><a class="link plausible-event-name=Footer+Link+Click+Privacy+Policy" href="/privacy-policy/">Privacy Policy</a> <span class="text-1">/</span> 
    <a class="link plausible-event-name=Footer+Link+Click+Billing" href="https://billing.stripe.com/p/login/cN2bLBaEk1sFg6Y3cc" target="_blank">Manage Billing</a></p>
    <div class="flex server-status">
      <span class="server-status-dot"></span><span class="" id="server-status-tag">Fetching...</span>
    </div>
  </div>
</footer>