<footer class="site-footer pt-16">
  <div class="mx-auto text-center">
    <p class="text-3 m-0">Loopdash / America</p>
    <p class="text-3 m-0 pb-16"><a href="https://billing.stripe.com/p/login/cN2bLBaEk1sFg6Y3cc" target="_blank">Manage Billing</a> <a href="/privacy-policy/">Privacy Policy</a></p>
  </div>
</footer>