<footer class="site-footer pt-16">
  <div class="mx-auto text-center">
    <p class="text-2 m-1">Loopdash / {{siteVersion}}</p>
    <p class="text-2 m-0 pb-16"><a class="link" href="/privacy-policy/">Privacy Policy</a> / 
    <a class="link" href="https://billing.stripe.com/p/login/cN2bLBaEk1sFg6Y3cc" target="_blank">Manage Billing</a></p>
  </div>
</footer>