<head>
  <title>{{ title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="../../img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../img/favicons/favicon-16x16.png">
  <link rel="stylesheet" href="../../css/normalize.css"/>
  <link rel="stylesheet" href="../../css/base.css"/>
  <script src="../../javascript/scripts.js" defer></script>
  
  <script defer data-domain="loopdash.com" src="https://plausible.io/js/script.file-downloads.hash.outbound-links.pageview-props.revenue.tagged-events.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

  <script defer data-domain="loopdash.com" src="https://analytics.loopdash.com/js/script.file-downloads.hash.outbound-links.pageview-props.revenue.tagged-events.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

  {% include 'meta.njk' %}
</head>
