<head>
  {% include 'meta.njk' %}
  <script
    src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
    crossorigin="anonymous"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177470860-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-177470860-1');
  </script>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="../../styles/normalize.css"/>
  <link rel="stylesheet" href="../../styles/base.css"/>
  <link
    rel="preload"
    href="https://thedecisionlab.com/fonts/Sailec-Light.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"/>
  <link
    rel="preload"
    href="https://thedecisionlab.com/fonts/Sailec-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"/>
  <link
    rel="preload"
    href="https://thedecisionlab.com/fonts/Sailec-Italic.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"/>
  <link
    rel="preload"
    href="https://thedecisionlab.com/fonts/Sailec-Medium.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"/>
  <link
    rel="preload"
    href="https://thedecisionlab.com/fonts/Sailec-MediumItalic.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"/>
  <link
    rel="preload"
    href="https://thedecisionlab.com/fonts/Sailec-Bold.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"/>
  <link
    rel="preload"
    href="https://thedecisionlab.com/fonts/Sailec-BoldItalic.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"/>
</head></head>