<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="../../css/normalize.css"/>
  <link rel="stylesheet" href="../../css/base.css"/>
  <script src="../../javascript/scripts.js" defer></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HVPZJ4LQDL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-HVPZJ4LQDL');
  </script>
  {% include 'meta.njk' %}
</head>
