<article class="page-hero home-hero">
  <div class="wrap1400">
    <div class="grid">
      <div class="hero">
        <h1 class="scroll fadeUp">Loopdash Web Development</h1>
        <h2 class="subheadline scroll fadeUp">We develop sites & apps.</h2>
        <p class="scroll fadeUp">We partner with companies, startups, and marketing firms to develop sites and apps that keep their businesses running.</p>
        <a class="button scroll fadeUp" href="/contact">Get started</a>
      </div>
      <div class="grid-item graphic">
        <img class="scroll fadeUp still-graphic" src="images/artboards-06.svg" alt="">
        <div class="parallax-container">
          <img class="scroll fadeUp laptop" src="images/artboards-01.svg" alt="">
          <img class="parallax fadeUp phone" src="images/artboards-02.svg" alt="">
          <img class="parallax4 fadeLeft plant" src="images/artboards-03.svg" alt="">
          <img class="parallax2 fadeDown woman" src="images/artboards-04.svg" alt="">
          <img class="parallax3 fadeRight circle" src="images/artboards-05.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</article>

<article class="below">
  <div class="grid">
    <div class="grid-item">
      <img class="blob" src="images/blob.svg" alt="">
    </div>
    <div class="grid-item content">
      <div class="base intro">
        <h2 class="scroll fadeUp">Managing your site is a chore</h2>
        <p class="scroll fadeUp">After hours of trying to change a page, you're usually left with a mess. If you're really lucky, it works... but then you realize something else broke. After going through it ourselves we've become the development agency we wish we could have worked with. That means fair, fast, reliable websites and web apps.</p>
      </div>
    </div>
  </div>
</article>
