<meta charset="UTF-8">

{%- if data.tags and 'faq' in data.tags -%}
  {% set metaTitle = "FAQ" %}
{%- elseif data.tags and 'project' in data.tags -%}
  {% set metaTitle = data.meta.title %}
{%- else -%}
  {% set metaTitle = meta.title + " - Loopdash" %}
{%- endif -%}

{%- if (metaImage) -%}
  {% set metaImage = meta.image %}
{%- else -%}
  {% set metaImage =  "https://res.cloudinary.com/loopdash/image/upload/l_text:dm-sans-bold.ttf_116_letter_spacing_-5:" + (meta.title | urlencode) + ",co_rgb:584e46,g_south,y_-20,g_west,x_60/l_loopdashmark,w_216,h_24,g_north,y_210,g_west,x_60/computer.png" %}
{%- endif -%}
<link rel="canonical" href="https://loopdash.com{{ page.url | safe }}"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ description | safe }}">

<!-- Google tags -->
<meta itemprop="name" content="loopdash">
<meta itemprop="description" content="{{ description | safe }}">
<meta itemprop="image" content="{{ metaImage }}">

<!-- Facebook tags -->
<meta property="og:url" content="https://loopdash.com{{ page.url | safe }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ metaTitle }}">
<meta property="og:description" content="{{ description | safe }}">
<meta property="og:image" content="{{ metaImage }}">

<!-- Twitter tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ metaTitle }}">
<meta name="twitter:description" content="{{ description | safe }}">
<meta name="twitter:image" property="og:image" content="{{ metaImage }}">
<meta name="robots" content="index, follow"/>
<meta name="googlebot" content="index, follow"/>