<div class="mx-auto">
  <div class="nav-wrapper font-mono">
    <nav class="nav">
      <ul class="nav--list">
        <li class="header-navigation-link">
          <a href="/">Loopdash</a>
        </li>
        <li class="header-navigation-link">
          <a class="{{ 'active' if '/about' in page.url }}" href="/about">About</a>
        </li>
        <li class="header-navigation-link">
          <a class="{{ 'active' if '/contact' in page.url }}" href="/contact">Contact</a>
        </li>
        <li class="header-navigation-link">
          <a class="{{ 'active' if '/services' in page.url }}" href="/services">Services</a>
        </li>
        <li class="header-navigation-link">
          <a class="{{ 'active' if '/documents' in page.url }}" href="/documents">Documents</a>
        </li>
      </ul>
    </nav>
  </div>
</div>