<nav>
  <a href="/" class="font-semibold text-xl tracking-loose">
    LoopDash
  </a>
  <ul>
    <li>
      <a href="/about" class="{{ 'bg-blue-500 text-white' if '/documents' in page.url }}">
        About
      </a>
    </li>
    <li>
      <a href="/services" class="{{ 'bg-blue-500 text-white' if '/documents' in page.url }}">
        Services
      </a>
    </li>
    <li>
      <a href="/documents" class="{{ 'bg-blue-500 text-white' if '/documents' in page.url }}">
        Documents
      </a>
    </li>
    <li>
      <a href="/contact" class="">
        Contact
      </a>
    </li>
  </ul>
</nav>