<div class="page-hero">
  <div class="page-hero__content default-container">
    <h1 class="text--eyebrow">{{ h1 }}</h1>
    <h2 class="font-47 font-weight--800">{{ h2 }}</h2>
    <p class="font-43 font--normal">{{ description }}</p>
  </div>
  <article class="page-hero__image" style="background-image: url({{ image }})"></article>
</div>