<header class="site-header">
  <div class="wrap1400">
    <div class="grid">

      <a class="logo" href="/"><img src="../images/loopdash.png" alt="Loopdash Logo"></a>

      <div class="mobile-toggle-container">
        <a href="#" class="mobile-toggle" title="Mobile Menu Toggle Button">
          <span class="menu-icon">
            <span class="menu-icon-left"></span>
            <span class="menu-icon-right"></span>
          </span>
        </a>
      </div>
      <!-- /.mobile-toggle-container -->
      <ul class="menu">
        <li class="btn"><a href="contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</header>
