<header class="site-header">
  <div class="wrap1400">
    <div class="grid">

      <a class="logo" href="/"><img src="../../images/logo-color.svg" alt="Loopdash Logo"></a>

      <div class="mobile-toggle-container">
        <a href="#" class="mobile-toggle" title="Mobile Menu Toggle Button">
          <span class="menu-icon">
            <span class="menu-icon-left"></span>
            <span class="menu-icon-right"></span>
          </span>
        </a>
      </div>
      <!-- /.mobile-toggle-container -->
      <ul class="menu">
      <li><a class="{{ 'active' if '/about' in page.url }}" href="/about">About Loopdash</a></li>
        <li><a class="{{ 'active' if '/documents' in page.url }}" href="/documents">Documents</a></li>
        <li><a class="{{ 'active' if '/services' in page.url }}"
href="/services">Services</a></li>
        <li class="btn"><a href="/contact-us">Work With Us</a></li>
      </ul>
      <ul class="social">
        <li><a target="_blank" href="https://twitter.com/_loopdash/"><span class="icon icon-twitter"></span></a></li>
        <li><a target="_blank" href="https://www.instagram.com/_loopdash/"><span class="icon icon-instagram"></span></a></li>
      </ul>
    </div>
  </div>
</header>
