<article class="stats">
  <div class="wrap1100">
    <div class="grid">
    <div class="grid-item">
      <div class="inner">
        <p class="number"><span class="counter">280</span></p>
        <p class="label">Products launched</p>
      </div>
    </div>
    <div class="grid-item">
      <div class="inner">
        <p class="number"><span class="counter">3</span></p>
        <p class="label">Unicorns launched</p>
      </div>
    </div>
    <div class="grid-item">
      <div class="inner">
        <p class="number"><span class="counter">12</span></p>
        <p class="label">Years in business</p>
      </div>
    </div>
    <div class="grid-item">
      <div class="inner">
        <p class="number"><span class="counter">1</span></p>
        <p class="label">Countries represented</p>
      </div>
    </div>
    <div class="grid-item">
      <div class="inner">
        <p class="number"><span class="counter">100</span><span class="symobl">%</span></p>
        <p class="label">Remote employees</p>
      </div>
    </div>
    <div class="grid-item">
      <div class="inner">
        <p class="number"><span class="symobl">$</span><span class="counter">0</span></p>
        <p class="label">Funding raised</p>
      </div>
    </div>
    </div>
  </div>
</article>
