<article class="stats">
  <div class="wrap1100">
    <div class="grid animate-items">
    <div class="grid-item scroll">
      <div class="inner item">
        <p class="number"><span class="counter">28</span></p>
        <p class="label">Websites launched</p>
      </div>
    </div>
    <div class="grid-item scroll">
      <div class="inner item">
        <p class="number"><span class="counter">32</span></p>
        <p class="label">Cups of Coffee per day</p>
      </div>
    </div>
    <div class="grid-item scroll">
      <div class="inner item">
        <p class="number"><span class="counter">12</span></p>
        <p class="label">Years in business</p>
      </div>
    </div>
    <div class="grid-item scroll">
      <div class="inner item">
        <p class="number"><span class="counter">3</span></p>
        <p class="label">Cities we represent</p>
      </div>
    </div>
    <div class="grid-item scroll">
      <div class="inner item">
        <p class="number"><span class="counter">100</span><span class="symobl">%</span></p>
        <p class="label">Total workforce remote</p>
      </div>
    </div>
    <div class="grid-item scroll">
      <div class="inner item">
        <p class="number"><span class="symobl">$</span><span class="counter">0</span></p>
        <p class="label">Funding raised</p>
      </div>
    </div>
    </div>
  </div>
</article>
