<section class="mb-96 timeline">
  <h2 class="h1 mb-16">Our process is fast,<br /> friendly, and simple.</h2>
  <div class="flex mb-20">
    <div class="flex-item">
      <p class="mb-0">Respond in <br /><span class="h2 font-bold">48 hours</span></p>
    </div>
    <div class="step">&nbsp;</div>
    <div class="flex-item text-center">
      <p class="mb-0">Meet for<br /><span class="h2 font-bold">30 mins</span></p>
    </div>
    <div class="step">&nbsp;</div>
    <div class="flex-item text-center">
      <p class="mb-0">Send an estimate in <br /><span class="h2 font-bold">3 days</span></p>
    </div>
  </div>
  <ul class="text-center">
    <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> No handcuffs - you own everything we build</li>
    <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Straightforward terms</li>
    <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> No in-person meetings</li>
  </ul>
</section>