<article class="timeline">
  <div class="wrap1000">
    <div class="base text-center scroll fadeUp">
      <h2>Our process is fast, friendly, and simple.</h2>
    </div>
  </div>
  <div class="wrap1100">
    <div class="grid animate-items">
      <div class="grid-item scroll">
        <div class="inner item">
          <h4 class="label">We respond in</h4>
          <p>48 hours</p>
        </div>
      </div>
      <div class="grid-item scroll">
        <div class="inner item">
          <h4 class="label">Meet for</h4>
          <p>30 mins</p>
        </div>
      </div>
      <div class="grid-item scroll">
        <div class="inner item">
          <h4 class="label">Send project estimate in</h4>
          <p>3 days</p>
        </div>
      </div>
    </div>

    <ul class="perks">
      <li class="scroll fadeUp"><span class="icon-check"></span><span class="text">No handcuffs - you own everything we build</span></li>
      <li class="scroll fadeUp"><span class="icon-check"></span><span class="text">Straightforward terms</span></li>
      <li class="scroll fadeUp"><span class="icon-check"></span><span class="text">No in-person meetings</span></li>
    </ul>

  </div>

</article>
