<div class="wrapper-md mb-48">
  <section class="mb-4 text-center">
    <div class="wrapper-sm">
      <h2 class="text-center h4">We work with businesses that are:</h2>
    </div>

    <div class="flex flex-break-md">
      <div class="flex-item p-10">
        <h6 class="mb-2">
          Done DIYing
        </h6>
        <p>
          A DIY website costs a lot of time. Work on your business while care for your website.
        </p>
      </div>
    
      <div class="flex-item p-10">
        <h6 class="mb-2">
          Fed up with flakey freelancers
        </h6>
        <p>
          We overcommunicate. You'll receive regular updates on your project.
        </p>
      </div>

      <div class="flex-item p-10">
        <h6 class="mb-2">
          Over overpriced agencies
        </h6>
        <p>
          You will know the exact cost and won't pay a penny more.
        </p>
      </div>
    </div>
  </section>
</div>