<article class="why">
  <div class="wrap1000">
    <div class="intro base text-center">
      <h2 class="scroll fadeUp">Why work with Loopdash?</h2>
      <p class="scroll fadeUp">DIYing landed you here. SaaS can’t do what we do. And giant agencies will bill you for every minute. <br><strong>Are you ready for a reliable, affordable, tech partner?</strong></p>
    </div>
  </div>
  <div class="wrap1400">
    <div class="grid animate-items">
      <div class="grid-item scroll">
        <div class="inner item">
          <h3>DIY or Freelancers</h3>
          <div class="benefits">
            <p><span class="icon icon-check"></span><span class="text">Fair pricing</span></p>
            <p><span class="icon icon-close"></span><span class="text">Projects finish late... or not at all</span></p>
            <p><span class="icon icon-close"></span><span class="text">Estimates are often inaccurate</span></p>
          </div>
        </div>
      </div>
      <div class="grid-item scroll">
        <div class="inner item">
          <h3>Agencies</h3>
          <div class="benefits">
            <p><span class="icon icon-check"></span><span class="text">Extremely overpriced</span></p>
            <p><span class="icon icon-close"></span><span class="text">Projects take 3+ months</span></p>
            <p><span class="icon icon-close"></span><span class="text">Getting an estimate takes 2+ weeks</span></p>
          </div>
        </div>
      </div>
      <div class="grid-item scroll">
        <div class="inner item">
          <h3><img src="images/logo-color.svg" alt=""></h3>
          <div class="benefits">
            <p><span class="icon icon-check"></span><span class="text">Affordable pricing</span></p>
            <p><span class="icon icon-check"></span><span class="text">Projects average 1 month</span></p>
            <p><span class="icon icon-check"></span><span class="text">Accurate estimates in 3 days</span></p>
            <a class="button" href="/contact">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
