<section class="mb-72 why">
  <div class="wrapper-sm text-center">
    <h2>Why work with Loopdash?</h2>
    <p>DIYing landed you here. SaaS can’t do what we do. And giant agencies will bill you for every minute. <strong>Are you ready for a reliable, affordable, tech partner?</strong></p>
  </div>

  <div class="flex flex-break-md wrapper-md">
    <div class="flex-item p-4">
      <div class="card card-blue-900 p-8 bg-blue-900">
        <h4 class="h5 mb-7">DIY or Freelancers</h4>
        <ul>
          <li class="flex flex-row mb-3"><img src="../images/checkmark-white.svg" class="checkmark" />Fair pricing</li>
          <li class="flex flex-row mb-3"><img src="../images/close-red.svg" class="close" />Projects finish late... or not at all</li>
          <li class="flex flex-row mb-3"><img src="../images/close-red.svg" class="close" />Estimates are often inaccurate</li>
        </ul>
      </div>
    </div>
    <div class="flex-item p-4">
      <div class="card card-blue-900 p-8 bg-blue-900">
        <h4 class="h5 mb-7">Agencies</h4>
        <ul>
          <li class="flex flex-row mb-3"><img src="../images/close-red.svg" class="close" />Extremely overpriced</li>
          <li class="flex flex-row mb-3"><img src="../images/close-red.svg" class="close" />Projects take 3+ months</li>
          <li class="flex flex-row mb-3"><img src="../images/close-red.svg" class="close" />Getting an estimate takes 2+ weeks</li>
        </ul>
      </div>
    </div>
    <div class="flex-item p-4">
      <div class="card card-white p-8 bg-white text-blue-900">
        <h4 class="h5 mb-7">Loopdash</h4>
        <ul>
          <li class="flex flex-row mb-3"><img src="../images/checkmark-blue.svg" class="checkmark" />Affordable pricing</li>
          <li class="flex flex-row mb-3"><img src="../images/checkmark-blue.svg" class="checkmark" />Projects average 1 month</li>
          <li class="flex flex-row mb-3"><img src="../images/checkmark-blue.svg" class="checkmark" />Accurate estimates in 30 minutes</li>
        </ul>
      </div>
    </div>
  </div>
</section>