---
layout: layouts/default.njk
title: Blog - Loopdash
h1: Loopdash Blog
h2: Our blog about the web
description: Welcome to our blog where you can find articles about WordPress, Webflow, Ruby on Rails, software development, and design.
image: "/images/computer-illustration.jpg"
imageAlt: Computer
pagination:
  data: collections.blogs
  size: 10
  alias: posts
sitemap:
  changefreq: weekly
  priority: 0.6
---

{% include 'big-hero.njk' %}
<article class="container-40 mt-4">
  <ul class="blogs">
    {% for post in posts | reverse %}
      <li>
        <article class="blog-preview">
          <a class="blog-preview__link" href="{{ post.url }}">
            <div class="blog-preview__image" style="background-image: url({{ post.data.image }})"></div>
            <div class="blog-preview__content">
              <h3 class="font-44 text--charcoal font-weight--700 mb-0 mt-0">{{ post.data.h1 }}</h3>
              <p class="font-42 text--charcoal">{{ post.data.h2 }}</p>
            </div>
          </a>
        </article>
      </li>
    {% endfor %}
  </ul>
</article>