<header class="site-header">
  <nav class="navbar">
    <div class="navbar--primary">
      <div class="logo">
        <a href="/">Loopdash</a>
      </div>
      <button class="menu-toggle" aria-label="Toggle menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    </div>
    <div class="nav-container">
      <ul class="nav">
        <li><a class="menu-item" href="#about">About</a></li>
        <li><a class="menu-item" href="#about">Projects</a></li>
        <li><a class="menu-item" href="#services">FAQs</a></li>
        <li><a class="menu-item" href="#services">Blogs</a></li>
        <li><a class="menu-item" href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>

<script>
  const menuToggle = document.querySelector('.menu-toggle');
  const siteHeader = document.querySelector('body');

  menuToggle.addEventListener('click', () => {
    siteHeader.classList.toggle('nav-opened');
  });
</script>