@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-800: ##005500;
  --green-700: #00AA00;
  --green-600: #00D500;
  --green-500: #00FF00;
  --green-400: #2BFF2B;
  --green-300: #55FF55;
  --green-200: #80FF80;
  --green-100: #AAFFAA;
  --green-50: #D5FFD5;
  --gray-900: #101010;
  --gray-800: #282828;
  --gray-700: #383838;
  --gray-600: #505050;
  --gray-500: #707070;
  --gray-400: #888888;
  --gray-300: #C8C8C8;
  --gray-200: #E0E0E0;
  --gray-100: #F8F8F8;
  --blue-900: #001650;
  --blue-800: #002278;
  --blue-700: #002DA0;
  --blue-600: #0038C8;
  --blue-500: #0043F0;
  --blue-400: #2B62F3;
  --blue-300: #5582F5;
  --blue-200: #80A1F8;
  --blue-100: #AAC0FA;
  --blue-50: #D5E0FD;

  --font-mono: "Roboto Mono";
  --font-sans: "Roboto";
}
