<!DOCTYPE html>
<html lang="en">
  {% include 'head.njk' %}
  <body>
    {% include 'nav.njk' %}
    {% include 'hero.md' %}
    <section class="content-wrapper text-xl leading-relaxed md:max-w-xl xl:max-w-4xl">
      {% include 'features.md' %}
      {% include 'form.md' %}
    </section>
  </body>
</html>