<!DOCTYPE html>
<html lang="en">
  {% include 'head.njk' %}
  <body class="bg-blue-400">
    {% include 'nav.njk' %}
    {% include 'hero.njk' %}
    <div class="text-white">
      {{ content | safe }}
    </div>
    {% include 'footer.njk' %}
  </body>
</html>