<!DOCTYPE html>
<html lang="en">
  {% include 'head.njk' %}
  <body>
    {% include 'site-header.njk' %}

      <main class="document">
        {% include 'page-hero.njk' %}
        {{ content | safe }}
        {% include 'support-cta.njk' %}
      </main>

    {% include 'site-footer.njk' %}
  </body>
</html>
