<!DOCTYPE html>
<html lang="en">
  {% include 'head.md' %}
  <body>
    {% include 'nav.md' %}
    {% include 'hero.md' %}
    <section class="content-wrapper text-xl leading-relaxed md:max-w-xl xl:max-w-4xl">
      {{ content | safe }}
    </section>
  </body>
</html>