<!DOCTYPE html>
<html lang="en" class="background-dark--wheat">
  {% include 'head.njk' %}
  <body class="background-dark--wheat">
    <main class="background-dark--wheat">
      {{ content | safe }}
    </main>
  </body>
</html>