<!DOCTYPE html>
<html lang="en">
  {% include 'head.njk' %}
  <body class="single-project-layout">
    {% include 'nav.njk' %}
    
    <div class="hero-wrapper">
      {% image project.heroImage, "Image description", [2200, 600], ["jpeg", "webp"], "single-project-hero" %}
    </div>
    <h1 class="text-12 mb-6 text-white text-weight-500">{{ title }}</h1>

    <main>
      <div class="introduction introduction-{{project.class}}">
        <div class="flex justify-between mx-auto py-24 container-lg">
          <div class="col-6">
            <p class="text-8 text-weight-400 text-white">Accountable Tech came to us with a powerful mission: to hold Big Tech accountable and advocate for a safer digital future. Their existing website wasn’t doing their vision justice—it lacked the impact and functionality needed to drive their movement forward. We created a bold, purpose-driven platform that amplifies their voice, strengthens their campaigns, and empowers their team with advanced tools for storytelling, SEO, and accessibility. The result is a website that embodies their mission and positions them as leaders in the fight for accountability in the tech industry.</p>
          </div>
          <div class="col-3 details">
            <h5 class="text-5 mb-0 text-weight-600 text-uppercase">Industry</h5>
            <ul class="text-7">
              <li>{{project.industry}}</li>
            </ul>

            {% if project.services %}
              <h5 class="text-5 mb-0 text-weight-600 text-uppercase">Services</h5>
                <ul class="text-7">
                {% for service in project.services %}
                  <li>{{ service.name }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            {% if project.collaborators %}
              <h5 class="text-5 mb-0 text-weight-600 text-uppercase">Collaborators</h5>
                <ul class="text-7">
                {% for collaborator in project.collaborators %}
                  <li>{{ collaborator.name }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            {% if project.press %}
              <h5 class="text-5 mb-0 text-weight-600 text-uppercase">Press</h5>
                <ul class="text-7">
                {% for item in project.press %}
                  <li>{{ item.name }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            {% if project.website %}
              <h5 class="text-5 mb-0 text-weight-600 text-uppercase">Website</h5>
                <ul class="text-7">
                  <li>{{ project.website }}</li>
              </ul>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="project-wrapper">

        <div class="container-lg mx-auto py-20 mb-12">
          <div class="flex mb-16">
            <div class="col-5">
              <h3 class="text-9 mb-0 text-weight-600">Website</h3>
              <p class="text-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
            </div>
          </div>
          {% image "./src/img/projects/website-accountable-tech.png", "Image description", [2200, 600], ["jpeg", "webp"], "c-animate-reveal" %}
        </div>

        {% image "./src/img/projects/screenshot-accountable-tech.jpg", "Image description", [2200, 600], ["jpeg", "webp"], "" %}
      </div>

      
    </main>
    {% include 'footer.njk' %}
  </body>
</html>