<!DOCTYPE html>
<html lang="en">
  {% include 'head.njk' %}
  <body>
    {% include 'nav.njk' %}
    <main>
      <section class="container-lg mx-auto">
        <div class="col-9 my-24">
          <p class="text-2 text-weight-600 text-charcoal-light text-uppercase mb-3">{{ proposal.client }}</p>
          <h1 class="text-10 text-weight-400 text-gradient">{{ proposal.name }}</h1>
          <h2 class="text-6 text-weight-300 text-charcoal-light">{{ proposal.description }}</h2>
        </div>

        <div class="flex justify-between mb-16">
          <div class="col-7">
            <p class="text-4 mb-10">We will approach this engagement with careful consideration and thoughtful execution, ensuring that every phase of the process is handled with precision and purpose. By following a structured timeline with clearly defined milestones, we will ensure progress remains aligned with your vision. The investment for this work can be found in <a href="{{ proposal.url }}" target="_blank" class="link plausible-event-name=Proposal+Sign+Link+Click">your proposal</a>. 
            <p class="text-4 mb-10">The full project has an estimated timeline of {{ proposal.duration }} to deliver an effective outcome. Please feel free to read more <a href="/about" target="_blank" class="link plausible-event-name=Proposal+About+Link+Click">about us</a> or refer to our <a href="/faq" target="_blank" class="link plausible-event-name=Proposal+FAQ+Link+Click">commonly asked questions</a>.</p>

            {% if proposal.services %}
              <div class="mb-8">
                <h5 class="text-4 text-weight-600">Services</h5>
                <ul class="text-3 ul">
                  {% for service in proposal.services %}
                    <li><strong>{{ service.name }}</strong>: {{ service.description }} <em class="text-charcoal-light">{{ service.duration }}</em></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>

          <div class="col-5">
            {% if proposal.video %}
              <div class="card card-default pt-6 pb-8 px-8 mb-8">
                <h5 class="text-4 text-weight-600">Walkthrough</h5>
                {{ proposal.video | safe }}
              </div>
            {% endif %}
            
            <div class="mb-8">
              <h5 class="text-4 text-weight-600">Next steps</h5>
              <p class="text-4 mb-10">Once you sign the proposal, we'll get started. You'll receive a welcome email with everything you need, including timelines, key contacts, and what to expect next. Questions? We're here to help every step of the way. Let's make something great together.</p>
              <div class="flex gap-0.5 align-items-center">

                {% if proposal.links %}
                  {% for link in proposal.links %}
                    <a href="{{ link.url }}" target="_blank" class="button button-secondary plausible-event-name={{link.event}}">
                      {% if link.icon %}
                        {% svgIcon "./src/img/icons/" ~ link.icon ~ ".svg" %}
                      {% endif %}
                      {{ link.text }}
                    </a>
                  {% endfor %}
                {% endif %}
                {# <span class="cursor-pointer" id="copyLink" data-url="{{ proposal.url }}">
                  {% svgIcon "./src/img/icons/copy.svg" %} Copy link
                </span> #}
              </div>
            </div>
          </div>
        </div>

      </section>

    </main>
    {% include 'footer.njk' %}

<script>
  // Select the span element by its ID
  const linkElement = document.getElementById('copyLink');

  // Add a click event listener to the span
  linkElement.addEventListener('click', (event) => {
    // Prevent the default action (if needed)
    event.preventDefault();

    // Retrieve the URL from the data-url attribute
    const url = linkElement.getAttribute('data-url');

    // Copy the URL to the clipboard
    navigator.clipboard.writeText(url)
      .then(() => {
        console.log('Link copied to clipboard:', url);

        // Replace the SVG icon with a checkmark and update text to "Copied"
        linkElement.innerHTML = `
          <img src="/img/icons/checkmark.svg" /> Copied!
        `;

        // Optionally, revert the text/icon back after a delay
        setTimeout(() => {
          linkElement.innerHTML = `
            {% svgIcon "./src/img/icons/copy.svg" %} Copy link
          `;
        }, 2000); // Revert after 2 seconds
      })
      .catch((err) => {
        console.error('Error copying the link:', err);
      });
  });
</script>

  </body>
</html>