---
layout: text.njk
meta:
  title: Testimonials
  description: Insights from the people who trust us to bring their ideas to life.
pagination:
  data: collections.testimonials
  size: 30
  alias: testimonials
sitemap:
  changefreq: weekly
  priority: 0.7
---

<section class="container-lg mx-auto">
  <div class="flex mb-16">
    <div class="col-7">
      <h1 class="text-10 text-weight-400 mb-12 mt-48 text-gradient">Testimonials</h1>
      <p class="text-9">Insights from the people who trust us to bring their ideas to life.</p>
    </div>
  </div>

  <div class="flex gap-1">
    {% for testimonial in testimonials | reverse %}
      <div class="col-6">
        <div class="card card-default py-4 px-6">
          <div class="mw-xs py-8 px-2">
            <p class="quote text-4 text-charcoal text-weight-400 mb-5">{{ testimonial.data.description }}</p>
            <p class="text-3 text-charcoal-light mb-0">{{ testimonial.data.name }}, {{ testimonial.data.role }}</p>
            <p class="text-3 text-charcoal-light mb-0">{{ testimonial.data.company }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
