---
layout: text.njk
meta:
  title: Testimonials
  description: Insights from the people who trust us to bring their ideas to life.
pagination:
  data: collections.testimonials
  size: 30
  alias: testimonials
sitemap:
  changefreq: weekly
  priority: 0.7
---

<div id="fullpage">
  <div class="section">
    <div class="testimonials">
      <div class="single-testimonial">
        <div class="py-8 container-md mx-auto">
          <h1 class="text-12 text-base text-weight-400 mb-0 ">Testimonials</h1>
          <p class="text-9 text-base">Insights from the people who trust us to bring their ideas to life.</p>
        </div>
      </div>
    </div>
  </div>
  {% for testimonial in testimonials | reverse %}
    <div class="section">
      <div class="testimonials">
        <div class="single-testimonial single-testimonial-{{ loop.index }}">
          <div class="py-4 px-6">
            <div class="container-md mx-auto">
              <p class="text-7 text-weight-400 mb-5 text-italic">{{ testimonial.data.description | safe }}</p>
              <div class="flex justify-between">
                <div>
                  <p class="text-3 mb-0 text-base text-weight-700 text-uppercase">{{ testimonial.data.name }}, {{ testimonial.data.role }}</p>
                  <p class="text-3 mb-0 text-base text-underline">{{ testimonial.data.company }}</p>
                </div>
                <div>
                  <p class="text-3 mb-0 text-mono text-uppercase">{{ loop.index }}/{{ testimonials.length }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
