---
layout: text.njk
meta:
  title: FAQ
  description: Here you can find answers to questions about our creative & digital services. We understand that it can be hard to choose the right company to work with, so we have compiled a list of frequently asked questions to help you decide. If you have any other questions, please contact us.
pagination:
  data: collections.faq
  size: 100
  alias: questions
sitemap:
  changefreq: weekly
  priority: 0.7
---

<section class="container-sm mx-auto">
  <div class="mt-48 mb-12">
    <h1 class="text-13 text-weight-400 text-gradient">FAQ</h1>
    <h2 class="text-5 text-charcoal-light text-weight-400">We've curated answers to the most common questions about our creative and digital services to guide your decision. For anything beyond, our team is here to provide clarity and insight.</h2>
  </div>

  {% set sections = [
    { tag: "getting-started", title: "Getting Started" },
    { tag: "technical", title: "Technical" },
    { tag: "communication", title: "Communication" },
    { tag: "launch", title: "Launch" },
    { tag: "payment", title: "Payment" },
    { tag: "care", title: "Care" },
    { tag: "hosting", title: "Hosting" },
    { tag: "legal", title: "Legal" }
  ] %}

  {% for section in sections %}
    <div class="mb-12">
      {% set currentTag = section.tag %}
      <h3 class="text-2 text-center text-weight-600 text-charcoal-light text-uppercase">{{ section.title }}</h3>
      {% for question in questions | reverse %}
        {% if currentTag in question.data.tags %}
          {% set question_id = question.data.url | replace("/faq/", "") %}
          <article 
            class="card card-question rounded-7 mb-3 reveal" 
            id="{{ question_id }}" 
            data-id="#{{ question_id }}">
            <div class="card-header" tabindex="0" role="button" aria-expanded="false" aria-controls="content-{{ loop.index }}">
              <h3 class="text-4 text-weight-400 my-0">{{ question.data.question }}</h3>
            </div>
            <div class="card-body text-4 text-charcoal-light text-weight-400" id="content-{{ loop.index }}">
              {{ question.templateContent | safe }}
              <div class="flex justify-content-end">
                <p id="copy-link" class="link px-2 py-1 cursor-pointer mt-3 text-2 text-charcoal-light" data-url="{{ "https://loopdash.com/faq/#" + question_id }}" data-title="Copied to clipboard" data-subtext="The question link has been copied to your clipboard.">
                  {% svgIcon "./src/img/icons/copy.svg", "text-charcoal-light" %} Copy link
                </p>
              </div>
            </div>
          </article>
        {% endif %}
      {% endfor %}
      {% if not loop.last %}
        <div class="mb-12 mt-8 hr"></div>
      {% endif %}
    </div>
  {% endfor %}
</section>