@charset "UTF-8";

/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

:root {
  --base-font-size: 16px;
  --base-font: "Overused Grotesk", sans-serif;
  --base-line-height: 1.25;
  --spacing-unit: calc(var(--base-font-size) * var(--base-line-height));
  --color-cream: #f5f4ee;
  --color-cream-dark: #e6e4d7;
  --color-charcoal-light: #5e5d56;
  --color-charcoal: #31302a;
  --color-accent: #31302a;
  --container: 1260px;
  --mobile: 768px;
  --trs-prop: all;
  --trs-time: 0.333s;
  --trs-tfunc: ease-in-out;
}

body {
  font-family: var(--base-font);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  margin: 0;
  padding: 0;
  background-color: var(--color-cream);
}

/* Text & Typography */
.type-heading {
  font-size: 44px;
  color: var(--color-charcoal);
  font-weight: 550;
  line-height: 1;
  font-family: var(--base-font);
}

.lead {
  font-size: 21px;
  color: var(--color-charcoal-light);
  font-family: var(--base-font);
}

.h1 {
  font-size: calc(var(--base-font-size) * 2.75); /* 2.5x base size */
  line-height:110%;
  margin-bottom: var(--spacing-unit) / 0.5; /* Space below */
  font-weight: bold;
}

/* Subhead (Heading 2) */
.h2 {
  font-size: calc(var(--base-font-size) * 2); /* 2x base size */
  line-height:110%;
  margin-bottom: var(--spacing-unit);
  font-weight: bold;
}

/* Heading 3 */
.h3 {
  font-size: calc(var(--base-font-size) * 1.5); /* 1.5x base size */
  line-height:110%;
  margin-bottom: calc(var(--spacing-unit) / 2); /* Slightly tighter spacing */
  font-weight: bold;
}

/* Heading 4 */
.h4 {
  font-size: calc(var(--base-font-size) * 1.375); /* 1x base size */
  line-height:110%;
  margin-bottom: calc(var(--spacing-unit));
  font-weight: 400;
}

p, ul li, ul ol {
  font-size: calc(var(--base-font-size) * 1.125); /* 1.25x base size */
  line-height: calc(var(--base-line-height) * 1.25);
  margin-bottom: calc(var(--spacing-unit) / 2);
  font-weight: 400;
}

.font-weight-400 {
  font-weight: 400;
}

/* flex / containers */
.flex {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .flex {
    flex-direction: row;
  }
}

.flex-item {
  flex:1;
}
.flex-gap {
  gap: 4rem;
}


/* Containers */
.intro {
  padding: 4.625rem 0 2.375rem 0;
}
@media only screen and (min-width: 768px) {
  .intro {
    padding: 10.625rem 0 6.375rem 0;
  }
}

.container-md {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 2rem 0 2rem;
}
@media only screen and (min-width: 768px) {
  .container-md {
    padding: 0;
  }
}


/* NAV */
.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: var(--trs-prop) var(--trs-time) var(--trs-tfunc);
  backdrop-filter: saturate(2.2) blur(32px);
  background-color: rgba(255, 255, 255, 0.1); 
}

.site-header.no-sticky {
  position: static; /* Remove sticky behavior */
  transform: translateY(-100%); /* Optional: slide it out of view */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  max-width: var(--container);
  margin: 0 auto;
  z-index: 99 !important;
}

@media only screen and (max-width: 1260px) {
  .navbar {
    padding: 2rem 1rem;
  }
}

.logo {
  height: auto;
  max-width: 228px;
}

.logo-text {
  display: none;
}

@media only screen and (min-width: 760px) {
  .logo-text {
    display: block;
  }
  .logo {
    max-width: 140px;
  }
}

.nav {
  background: var(--color-cream);
  list-style: none;
  display: flex;
  width: 100%;
}

.nav li {
  line-height: 1;
}


/* Hamburger-to-X Transition */
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 999;
  position: relative;
}

.menu-toggle .bar {
  height: 3px;
  width: 26px;
  background: var(--color-charcoal-light);
  border-radius: 2px;
  transition: var(--trs-prop) var(--trs-time) var(--trs-tfunc);
  position: absolute;
}

/* Default Hamburger State */
.menu-toggle .bar:nth-child(1) {
  top: 1px;
}

.menu-toggle .bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu-toggle .bar:nth-child(3) {
  bottom: 0;
}

/* nav-opened - Transform to X */
.nav-opened .menu-toggle .bar:nth-child(1) {
  background: var(--color-cream);
  transform: translateY(10px) rotate(45deg);
}

.nav-opened .menu-toggle .bar:nth-child(2) {
  opacity: 0;
}

.nav-opened .menu-toggle .bar:nth-child(3) {
  background: var(--color-cream);
  transform: translateY(-10px) rotate(-45deg);
}

/* Navigation Container and Items */
.nav-container {
  background: var(--color-cream);
  position: absolute;
  top: 144px;
  visibility: hidden;
  opacity: 0;
  transition: var(--trs-prop) var(--trs-time) var(--trs-tfunc);
  height: 100vh;
  width: 100%;
  margin: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
}

.nav-opened .nav-container {
  visibility: visible;
  opacity: 1;
}

.nav {
  max-width: var(--container);
  display: flex;
  flex-direction: column;
  padding: 25vh 0 0;
  margin: 0 auto;
  line-height: 58px;
  height: 100vh;
  background-color: var(--color-charcoal);
}

.nav a.menu-item {
  display: inline-block;
  color: var(--color-charcoal-light);
  font-weight: bold;
  font-size: 65px;
  line-height: inherit;
  transition: var(--trs-prop) var(--trs-time) var(--trs-tfunc);
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.nav a.menu-item:hover {
  color: var(--color-cream);
  transform: scale(1.03);
  margin-left: 10px;
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 1260px) {
  .nav {
    padding: 25vh 0 0 1rem;
    margin: 0;
  }
}

/* Navbar Logo */
.navbar-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
}

/* nav-opened Styling Adjustments */
.nav-opened {
  overflow: hidden;
}

.nav-opened .logo-path {
  fill: var(--color-cream-dark);
  transition: var(--trs-prop) var(--trs-time) var(--trs-tfunc);
}


/* Text & Typography */
.heading {
  font-size: 44px;
  font-weight: 550;
  line-height: 1;
  font-family: var(--base-font);
}

.lead {
  font-size: 21px;
  color: var(--color-charcoal-light);
  font-family: var(--base-font);
}

.h1 {
  font-size: calc(var(--base-font-size) * 2.75); /* 2.5x base size */
  line-height:110%;
  margin-bottom: var(--spacing-unit) / 0.5; /* Space below */
  font-weight: bold;
}

/* Subhead (Heading 2) */
.h2 {
  font-size: calc(var(--base-font-size) * 2); /* 2x base size */
  line-height:110%;
  margin-bottom: var(--spacing-unit);
  font-weight: bold;
}

/* Heading 3 */
.h3 {
  font-size: calc(var(--base-font-size) * 1.5); /* 1.5x base size */
  line-height:110%;
  margin-bottom: calc(var(--spacing-unit) / 2); /* Slightly tighter spacing */
  font-weight: bold;
}

/* Heading 4 */
.h4 {
  font-size: calc(var(--base-font-size) * 1.375); /* 1x base size */
  line-height:110%;
  margin-bottom: calc(var(--spacing-unit));
  font-weight: 400;
}

p, ul li, ul ol {
  font-size: calc(var(--base-font-size) * 1.125); /* 1.25x base size */
  line-height: calc(var(--base-line-height) * 1.25);
  margin-bottom: calc(var(--spacing-unit) / 2);
  font-weight: 400;
}

.font-weight-400 {
  font-weight: 400;
}

/* flex / containers */
.flex {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .flex {
    flex-direction: row;
  }
}

.flex-item {
  flex:1;
}
.flex-gap {
  gap: 4rem;
}

/* Containers */
.intro {
  padding: 4.625rem 0 2.375rem 0;
}
@media only screen and (min-width: 768px) {
  .intro {
    padding: 10.625rem 0 6.375rem 0;
  }
}

.container-md {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 2rem 0 2rem;
}
@media only screen and (min-width: 768px) {
  .container-md {
    padding: 0;
  }
}


/* Utilities */
.container {
  padding: 0 36px;
}

/* Home Hero */
.home-hero {
  padding: 9rem 36px 12rem 36px;
  text-align: center;
  margin: 0 auto;
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

@media only screen and (max-width: 768px) {
  .home-hero {
    max-width: 90vw;
  } 
}

.button {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  font-family: var(--base-font);
  padding: 12px 26px;
  line-height: 1;
  font-size: 18px;
  color: #ffffff;
  border-radius: 13px;
  border: 1px solid #757575;
  text-decoration: none;
  font-weight: 550;
  background: linear-gradient(172deg, #6e6868, #252525);
  align-items: center;
  box-sizing: border-box;
  height: 44px;
  margin: 0px;
  min-height: 38px;
  box-shadow: 
        0 5px 10px rgba(0, 0, 0, 0.3), 
        inset 0 2px 7px rgba(0, 0, 0, 0.3), 
        inset 0 4px 7px rgba(255, 255, 255, 0.5);
  letter-spacing: 0.5px;
  transition: var(--trs-prop) var(--trs-time) var(--trs-tfunc);
  transform: translateY(0);
  width: 100%;
}

.button:hover {
  transform: translateY(4px); /* Simulates the button being pressed */
  box-shadow: 
        0 3px 5px rgba(0, 0, 0, 0.3), 
        inset 0 -1px 3px rgba(0, 0, 0, 0.4), 
        inset 0 1px 3px rgba(255, 255, 255, 0.3); /* Adjusted shadows */
}

/* Projects */
.projects {
  width: 100%;
  max-width: 1260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 0 0 7rem 0;
  box-sizing: border-box;
  font-size: 33px;
  font-weight:550;
  color: #ffffff;
}

@media only screen and (max-width: 1260px) {
  .projects {
    padding: 0 1rem 7rem 1rem;
  }
}

.project-details {
  padding: 3rem 3rem;
}

@media only screen and (max-width: 1260px) {
  .project-details {
    padding: 2rem 1.5rem;
  }
}

.project-title {
  font-size: 38px;
  font-weight: 600;
  margin: 0 0 0.5rem 0;
  line-height: 38px;
}
.project-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.10;
  margin: 0;
}

.project {
  cursor: pointer;
  background: linear-gradient (0deg, #000000 30%, #ffffff 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 0.6rem;
  width: 100%;
  max-width: 1260px;
  height: 80vh;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  transition: var(--trs-prop) var(--trs-time) var(--trs-tfunc);
  will-change: opacity, transform, background-size;
  
}
.project:hover {
  transition: var(--trs-prop) var(--trs-time) var(--trs-tfunc);
  background-size: 105%; /* Zoom in the background */
}
@media only screen and (max-width: 768px) {
  .project {
    background-size: cover;
    transition: var(--trs-prop) var(--trs-time) var(--trs-tfunc);
    will-change: opacity, transform, background-size;
  }
  .project:hover {
    background-size: cover;
  }
}

.project.visible {
  opacity: 1;
  transform: translateY(0);
}

.project-at {
  background-image: 
    linear-gradient(0deg, #00000088 30%, #ffffff44 100%), 
    url('../images/cover-accountable-tech.jpg');
}

.project-ndf {
  background-image: 
    linear-gradient(0deg, #00000088 30%, #ffffff44 100%), 
    url('../images/cover-palantir.jpg');
}

.project-ej {
  background-image:
    linear-gradient(0deg, #00000088 30%, #ffffff44 100%), 
    url('../images/cover-encode-justice.jpg');
}

.project-fm {
  background-image:
    linear-gradient(0deg, #00000088 30%, #ffffff44 100%), 
    url('../images/cover-forward-majority.jpg');
}

.projects-link {
  color: var(--color-charcoal);
  text-decoration: none;
  text-align: center;
  padding: 3rem 0 4rem 0;
  font-size: 28px;
  transition: var(--trs-prop) var(--trs-time) var(--trs-tfunc);
  position: relative; /* Needed for positioning pseudo-elements */
  align-items: center; /* Keeps the text and chevron aligned vertically */
}

.projects-link::after {
  content: url('../images/chevron-right.svg');
  display: inline-block;
  margin-left: 2px; /* Initial spacing between text and chevron */
  transition: transform 0.3s ease; /* Smooth chevron movement */
  position: relative; /* Prevents affecting the flow of the text */
}

.projects-link:hover::after {
  transform: translateX(4px); /* Moves the chevron to the right */
}


/* cta */
.cta {
  background: var(--color-cream-dark);
  padding: 12rem 36px 18rem 36px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.cta .heading {
  font-size: 34px;
}
.cta-container {
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Load Screen */
.load-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: saturate(1.2) blur(16px);
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1; /* Initial state */
  transition: var(--trs-prop) var(--trs-time) var(--trs-tfunc);
  pointer-events: all; /* Ensures it blocks interaction during display */
}

.load-text {
  margin-top: -30px;
  font-family: monospace;
  font-weight: 450;
  font-size: 12px;
  color: var(--color-charcoal-light);
  text-align: center;
}

.progress-bar {
  position: absolute;
  width: 80vw;
  max-width: 228px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
}

/* Animated fill for progress bar */
.progress-bar::before {
  content: '';
  display: block;
  height: 100%;
  width: 0;
  background: linear-gradient(172deg, #ff8756, #ff5f1d);
  animation: fill-bar 0.6875s ease forwards; /* Fills the bar in 1 second */
}

/* Keyframes for progress bar fill */
@keyframes fill-bar {
  to {
    width: 100%;
  }
}

/* Footer */
.site-footer {
  background: var(--color-cream-dark);
  .container {
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    max-width: 1260px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    .location {
      text-transform: uppercase;
      font-size: 0.6875rem;
      font-weight: 600;
    }
  }
  .footer-nav__list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style-type: none;
    gap: 1rem;
    .footer-nav__link {
      text-transform: uppercase;
      font-size: 0.6875rem;
      font-weight: 600;
      text-decoration: none;
      color: var(--color-charcoal);
      transition: var(--trs-prop) var(--trs-time) var(--trs-tfunc);
    }   
  }
}

@media only screen and (min-width: 768px) {
  .site-footer {
    .container {
      padding: 1rem 0;
    }
  } 
}