---
layout: layouts/default.njk
title: Documents - Loopdash
h1: Loopdash Documents
subheadline: Documents
description: Please follow our technical guides and tutorials. We also provide additional support via chat, email or phone, depending on your plan.
sitemap:
  changefreq: weekly
  priority: 1.0
---

{% include 'page-hero.njk' %}

<article class="documents">
  <div class="wrap900">
    <ul>
      {% for document in collections.documents %}
      <li class="base scroll fadeUp">
        <a href="{{ document.url }}" class="document-title">
          <h3>{{ document.data.subheadline }}</h3>
        </a>
        <p>
          {{ document.data.description }}
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>

{% include 'support-cta.njk' %}
