---
layout: layouts/default.njk
title: Documents - Loopdash
h1: Loopdash Documents
subheadline: Documents
description: Please follow our technical guides and tutorials. We also provide additional support via chat, email or phone, depending on your plan.
sitemap:
  changefreq: weekly
  priority: 1.0
---

{% include 'page-hero.njk' %}

<article class="documents">
  <div class="wrap1000">
    <ul>
      {% for document in collections.documents %}
      <li>
        <a href="{{ document.url }}" class="text-decoration-none">
          <h2>{{ document.data.h1 }}</h2>
        </a>
        <p>
          {{ document.data.description }}
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
