---
layout: layouts/cover.njk
title: Documents - Loopdash
h1: Loopdash Documents
h2: Documents
description: Please follow our technical guides and tutorials. We also provide additional support via chat, email or phone, depending on your plan.
sitemap:
  changefreq: weekly
  priority: 0.6
---

<section class="wrapper-sm">
  {% for document in collections.documents %}
    <a href="{{ document.url }}" class="text-decoration-none">
      <section class="mb-12">
        <div>
          <h3 class="h5 text-blue-800 flex flex-row"><img src="../images/folder.svg" class="folder" />
            {{ document.data.h2 }}
          </h3>
        </div>
        <p class="text-white">
          {{ document.data.description }}
        </p>
      </section>
    </a>
  {% endfor %}
</section>
