---
layout: layouts/default.njk
title: Documents - Loopdash
h1: Loopdash Documents
h2: Documents
description: Please follow our technical guides and tutorials. We also provide additional support via chat, email or phone, depending on your plan.
sitemap:
  changefreq: weekly
  priority: 0.6
---

<section>
  {% for document in collections.documents %}
    <a href="{{ document.url }}">
      <section class="mb-8">
        <div class="document--title mb-2">
          <h3 class="text-xl font-semibold">
            {{ document.data.h2 }}
          </h3>
        </div>
        <p class="text-base">
          {{ document.data.description }}
        </p>
      </section>
    </a>
  {% endfor %}
</section>
