---
layout: layouts/default.njk
h1: Loopdash Documents
h2: Documents
description: Please follow our technical guides and tutorials. We also provide additional support via chat, email or phone, depending on your plan.
sitemap:
  changefreq: weekly
  priority: 1.0
---

<section class="content-wrapper text-xl leading-relaxed md:max-w-xl xl:max-w-4xl">
  {% for document in collections.documents %}
    <a href="{{ document.url }}">
      <section class="mb-8">
        <div class="document--title mb-2">
          <h3 class="text-2xl font-semibold font-mono">
            {{ document.data.h2 }}
          </h3>
        </div>
        <p class="text-xl text-gray-500">
          {{ document.data.description }}
        </p>
      </section>
    </a>
  {% endfor %}
</section>
