---
layout: text.njk
meta:
  title: 404
  description: Page not found
sitemap:
  changefreq: monthly
  priority: 0.1
permalink: /404.html
---

<section class="container-lg mx-auto">
  <div class="flex">
    <div class="col-5 mx-auto text-center">
      <h1 class="text-9 text-weight-400 my-24 text-gradient">The page you're looking for can't be found.</h1>
      <a href="/" class="button button-primary">Go to home</a>
    </div>
  </div>
</section>
