---
layout: layouts/default.njk
title: About - Loopdash
h1: About Loopdash
subheadline: We makes stuff on the internet.
description: Our developers have been building websites and apps for over a decade. Everything we make is user friendly and built the the right way.
sitemap:
  changefreq: weekly
  priority: 1.0
---

{% include 'page-hero.njk' %}

{% include 'stats.njk' %}

{% include 'cta.njk' %}
