---
layout: layouts/default.njk
title: About - Loopdash
h1: Loopdash WordPress development & design
h2: A design & development practice that does WordPress.
description: Loopdash is a design & development practice that delivers exceptional websites, logos, and web solutions.
sitemap:
  changefreq: weekly
  priority: 0.8
---

<article class="container-40">
  {% include 'big-hero.njk' %}
  <div class="page-content">
    <p>Loopdash is composed of a selective group of collaborators who work closely with founders, marketing and product
      leads to deliver top-notch results.</p>
    <p>Our expertise lies in web and branding revamps that translate into powerful marketing website projects. We pride
      ourselves on our ability to collaborate closely with our clients to bring their vision to life. Whether it's a brand and
      visual identity, website design, website development in WordPress or Webflow, web app development in Rails or React, or
      just hosting support, we are committed to delivering exceptional work that makes a difference.</p>
  </div>
</article>