---
layout: layouts/about.njk
title: About Us - Loopdash
h1: About Loopdash
h2: Loopdash makes sites & apps on the internet.
description: Our developers have been building websites and apps for over a decade. Everything we make is user friendly and built the the right way.
sitemap:
  changefreq: weekly
  priority: 0.9
---

<div class="mb-8 max-w-3xl text-xl">
  <h3 class="font-bold mb-1 text-2xl">
    TLDR
  </h3>
  <p class="mb-10 text-2xl">
    We don’t write applications we don't have to. It’s not because we don’t enjoy what we do, quite the opposite. But for us apps are a means to an end - a way to solve a problem. We've been around a while, so we have a few guidelines to ensure we leave things better than we found them.
  </p>
  <h3 class="font-bold mb-1 text-2xl">
    If a solution exists, we won’t rebuild it
  </h3>
  <p class="mb-6 text-xl">
    Simply because there's no reason for us to. If we know of a SaaS product that solves 95% of the problem, we will tell you about it. Simple as that. We won’t rebuild our own version just because we can. And frankly, we think it’s bad business to even try.
  </p>
  <h3 class="font-bold mb-1 text-2xl">
    We try to not code
  </h3>
  <p class="mb-6 text-xl">
    So before we do, we think of all other practical solutions. We're not lazy, we just act in our clients' best interest. That’s how we’ve always operated and how we always will.
  </p>
  <h3 class="font-bold mb-1 text-2xl">
    Is maintaining it worthwhile?
  </h3>
  <p class="mb-6 text-xl">
    We don't write code where the costs outweighs the value. We keep this top of mind throughout the project lifecycle.
  </p>
</div>

<div class="bg-blue-500">
{% for member in collections.members %}
<div class="bg-blue-50">
  <img src={{member.data.image}} alt="" class="">
  <p class="text-gray-800">{{ member.data.name }},
    <span class="text-gray-400">
      {{ member.data.title }}
    </span>
  </p>
  <p class="text-gray-500 text-base">
    {{ member.data.description }}
  </p>
</div>
{% endfor %}
</div>
