---
layout: text.njk
meta:
  title: Contact
  description: Get in touch with Loopdash to learn how we can support your nonprofit or business with tailored web solutions. Contact us today.
sitemap:
  changefreq: weekly
  priority: 0.1
---

<section class="container-lg mx-auto mt-24">
  <div class="flex mb-16">
    <div class="col-7">
      <p class="text-9 text-weight-400 my-24 text-gradient">The future won't wait. Today's choices shape tomorrow's possibilities.<br/><br/>Let's start the conversation.</p>
    </div>
  </div>

  <div class="mb-16 hr"></div>
  <div class="flex">
    <div class="col-6 reveal">
      <a href="#" data-cal-link="garyb/meet" class="shake card card-default py-4 px-6 plausible-event-name=Contact+Meeting+Card+Click">
        <div class="icon-wrapper">
          {% svgIcon "./src/img/icons/message-custom.svg" %}
        </div>
        <div class="mw-xs">
          <h3 class="text-4 text-weight-500">Book a call</h3>
          <p class="text-3 text-charcoal-light text-weight-400">Whether you have questions or are ready to take the next step, we're here to help.</p>
          <p class="text-3 text-charcoal-light link-chevron">Book a call</p>
        </div>
      </a>
    </div>
    <div class="col-6 reveal">
      <a href="javascript:void(0);" id="copy-link" class="card card-default py-4 px-6 plausible-event-name=Contact+Email+Card+Click" data-url="hi@loopdash.com" data-title="Copied to clipboard" data-subtext="The email hi@loopdash.com has been copied to your clipboard.">
        <div class="icon-wrapper">
          {% svgIcon "./src/img/icons/mail.svg" %}
        </div>
        <div class="mw-xs">
          <h3 class="text-4 text-weight-500">hi@loopdash.com</h3>
          <p class="text-3 text-charcoal-light text-weight-400">Have something specific in mind? Reach out, and we'll get back to you quickly.</p>
          <p class="text-3 text-charcoal-light link-chevron">Email us</p>
        </div>
      </a>
    </div>
    <div class="col-6 reveal">
      <a href="/support/" class="card card-default py-4 px-6 plausible-event-name=Contact+Support+Card+Click">
        <div class="icon-wrapper">
          {% svgIcon "./src/img/icons/question.svg" %}
        </div>
        <div class="mw-xs">
          <h3 class="text-4 text-weight-500">Need support?</h3>
          <p class="text-3 text-charcoal-light text-weight-400">Encountered an issue or need assistance? Let us know, and we'll work quickly to resolve it.</p>
          <p class="text-3 text-charcoal-light link-chevron">Get help</p>
        </div>
      </a>
    </div>
    <div class="col-6 plausible-event-name=Contact+Careers+Card+Click">
      <a href="mailto:careers@loopdash.com" class="card card-default py-4 px-6">
        <div class="icon-wrapper">
          {% svgIcon "./src/img/icons/terminal.svg" %}
        </div>
        <div class="mw-xs">
          <h3 class="text-4 text-weight-500">Work at Loopdash</h3>
          <p class="text-3 text-charcoal-light text-weight-400">Join a team that's redefining what's possible. We're always looking for big thinkers and creatives.</p>
          <p class="text-3 text-charcoal-light link-chevron">Work with us</p>
        </div>
      </a>
    </div>
  </div>
</section>