---
layout: text.njk
title: Contact
description:
sitemap:
  changefreq: weekly
  priority: 0.1
---

<section class="container-lg mx-auto">
  <div class="flex mb-16">
    <div class="col-9">
      <p class="text-9 text-weight-400 my-24">The future won't wait. Today's choices shape tomorrow's possibilities.<br/><br/>Let's start the conversation — just <a href="sms:2164400321" class="link">text us</a>.</p>
    </div>
  </div>

  <hr class="mb-12" />
  <div class="flex">
    <div class="col-4">
      <h5 class="text-5 mb-0 text-weight-600 text-uppercase">New Projects</h5>
      <p class="text-7"><a href="mailto:hi@loopdash.com" class="link mb-3">hi@loopdash.com</a></p>
      <p class="text-7"><a data-cal-link="garyb/meet" class="link">Request a meeting</a></p>
    </div>
    <div class="flex-item">
      <h5 class="text-5 mb-0 text-weight-600 text-uppercase">Places</h5>
      <div class="flex">
        <div class="col-6">
          <p class="text-4">
            Cleveland, Ohio</br>
            Brooklyn, New York</br>
            Durham, North Carolina</br>
            Fort Myers, Florida</br>
            Lakewood, Ohio</br>
          </p>
        </div>
        <div class="col-6">
          <p class="text-4">
            Los Angeles, California</br>
            Phoenix, Arizona</br>
            Portland, Oregon</br>
            St. Louis, Missouri</br>
            Surat, India</br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
