---
layout: text.njk
meta:
  title: Contact
  description: Get in touch with Loopdash to learn how we can support your nonprofit or business with tailored web solutions. Contact us today.
sitemap:
  changefreq: weekly
  priority: 0.1
---

<section class="container-lg mx-auto">
  <div class="flex mb-16">
    <div class="col-9">
      <p class="text-9 text-weight-400 my-24 text-gradient">The future won't wait. Today's choices shape tomorrow's possibilities.<br/><br/>Let's start the conversation.</p>
    </div>
  </div>

  <div class="mb-12 hr"></div>
  <div class="flex">
    <div class="col-4">
      <a data-cal-link="garyb/meet" class="card card-default">
        <h5 class="text-3 mb-0 text-weight-600">New Projects</h5>
        <p class="text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
        <p class="text-3 link-chevron">Learn More</p>
      </a>
    </div>
    <div class="col-4">
      <a href="/support/" class="card card-default">
        <h5 class="text-3 mb-0 text-weight-600">Get Help</h5>
        <p class="text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
        <p class="text-3 link-chevron">Learn More</p>
      </a>
    </div>
    <div class="col-4">
      <a href="mailto:careers@loopdash.com" class="card card-default">
        <h5 class="text-3 mb-0 text-weight-600">Work at Loopdash</h5>
        <p class="text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
        <p class="text-3 link-chevron">Learn More</p>
      </a>
    </div>
  </div>
</section>
