---
layout: layouts/default.njk
title: Give Website Access - Loopdash
h1: Give Website Access
subheadline: Let's get started
description: Please send us your website credentials so we can get started on your project.
sitemap:
  changefreq: weekly
  priority: 0.3
---
{% include 'page-hero.njk' %}

<article class="form-container contact-form">
  <div class="wrap900">
  <form name="website-access" method="POST" data-netlify="true" action="/thank-you">

    <div class="field-wrapper">
      <label>Domain name of site</label>
      <input type="text" name="domain_name" />
    </div>

    <div class="field-wrapper">
      <label>Current Host</label>
      <select name="current_host" id="current_host">
        <option value="1and1">1and1</option>
        <option value="A2 Hosting">A2 Hosting</option>
        <option value="Amazon AWS">Amazon AWS</option>
        <option value="Bluehost">Bluehost</option>
        <option value="Cloudways">Cloudways</option>
        <option value="DigitalOcean">DigitalOcean</option>
        <option value="DreamHost">DreamHost</option>
        <option value="Flywheel">Flywheel</option>
        <option value="GoDaddy">GoDaddy</option>
        <option value="Google Cloud">Google Cloud</option>
        <option value="Heroku">Heroku</option>
        <option value="HostGator">HostGator</option>
        <option value="Linode">Linode</option>
        <option value="Liquid Website">Liquid Website</option>
        <option value="Media Temple">Media Temple</option>
        <option value="Netlify">Netlify</option>
        <option value="Pagely">Pagely</option>
        <option value="Pantheon">Pantheon</option>
        <option value="Pressable">Pressable</option>
        <option value="Savvii">Savvii</option>
        <option value="SiteGround">SiteGround</option>
        <option value="tsoHost">tsoHost</option>
        <option value="Vultr">Vultr</option>
        <option value="WP Engine">WP Engine</option>
        <option value="WPS Hosting">WPS Hosting</option>
        <option value="Other">Other</option>
      </select>
    </div>

    <div class="field-wrapper">
      <label>Hosting panel login URL</label>
      <input type="text" name="hosting_panel_login_url" />
    </div>

    <div class="field-wrapper">
      <label>Hosting panel username</label>
      <input type="text" name="hosting_panel_username" />
    </div>

    <div class="field-wrapper">
      <label>Hosting panel password</label>
      <input type="password" name="hosting_panel_password" />
    </div>

    <div class="field-wrapper">
      <label for="is_wordpress">
        <input type="checkbox" id="is_wordpress" name="is_wordpress">
        Is it a WordPress site?
      </label>
    </div>

    <div id="wp_questions">
      <div class="field-wrapper">
        <label>WordPress username</label>
        <input type="text" name="wordpress_username" />
      </div>

      <div class="field-wrapper">
        <label>WordPress password</label>
        <input type="password" name="wordpress_password" />
      </div>

      <div class="field-wrapper">
        <label>WordPress admin URL</label>
        <input type="text" name="wordpress_admin_url" />
      </div>
    </div>

    <div class="field-wrapper">
      <label for="special_instructions">Any special instructions?</label>
      <p>Are there any special .htaccess or Nginx rules to be used? Is there anything unique to your site, like a plugin or a custom development that we should watch out for when migrating?</p>
      <textarea id="special_instructions" name="special_instructions"></textarea>
    </div>

    <div class="field-wrapper submit">
      <button type="submit" class="button">Send Website Credentials</button>
    </div>
  </form>
</div>
</div>

<script>
  checkbox = document.getElementById("is_wordpress");

  document.getElementById('wp_questions').style.display = 'none';

  console.log(document.getElementById('wp_questions'))

  checkbox.addEventListener('change', function(e) {
    console.log(checkbox.checked, checkbox.value);
    if (checkbox.checked) {  
      document.getElementById('wp_questions').style.display = 'block';
    } else {
      document.getElementById('wp_questions').style.display = 'none';
    }
  });

</script>