---
layout: layouts/cover.njk
title: Web Design & Website Development - Loopdash
h1: Loopdash Web Development
h2: We develop sites & apps.
description: For over a decade we have partnered with companies and marketing firms to develop websites to keep their businesses running.
sitemap:
  changefreq: weekly
  priority: 1.0
---

<div class="wrapper-sm">
  <section class="mb-4">
    <h2 class="h3">Managing your site is a chore</h2>
    <p>After hours of trying to change a page, you're usually left with a mess. If you're really lucky, it works... but then you realize something else broke. After going through it ourselves we've become the development agency we wish we could have worked with. That means fair, fast, reliable websites and web apps.</p>
    <a class="btn btn-o-white" href="/contact">About Loopdash →</a>
    </p>
  </section>
</div>

<section class="mb-96">
  <div class="wrapper-sm text-center">
    <h2>Why work with Loopdash?</h2>
    <p>DIYing landed you here. SaaS can’t do what we do. And giant agencies will bill you for every minute. Are you ready for a reliable, affordable, tech partner?</p>
  </div>

  <div class="flex wrapper-md">
    <div class="flex-item p-2">
      <div class="card p-4 bg-blue-900">
        <h4>DIY</h4>
        <ul>
          <li>$</li>
          <li>Who knows?</li>
          <li>Estimates</li>
        </ul>
      </div>
    </div>
    <div class="flex-item p-2">
      <div class="card p-4 bg-blue-900">
        <h4>Freelancer</h4>
        <ul>
          <li>$$</li>
          <li>Projects finish late (or not at all)</li>
          <li>Are often inaccurate</li>
        </ul>
      </div>
    </div>
    <div class="flex-item p-2">
      <div class="card p-4 bg-blue-900">
        <h4>Agency</h4>
        <ul>
          <li>$$$</li>
          <li>Projects take 3+ months</li>
          <li>Takes 2 weeks and 2 meetings</li>
        </ul>
      </div>
    </div>
    <div class="flex-item p-2">
      <div class="card p-4 bg-white text-blue-400">
        <h4>Loopdash</h4>
        <ul>
          <li>$$</li>
          <li>Projects avg. 1 month</li>
          <li>30 minute estimates</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="wrapper-sm">
  {% include 'timeline.njk' %}
</div>

<div class="wrapper-md">
  <section class="mb-4 card card-white text-center">
    <h2 class="text-center h1">We work with businesses that</h2>

    <div class="flex">
      <div class="flex-item p-5">
        <p class="mb-3">
          <strong>Are tired of trying to DIY the perfect site</strong><br/>
        </p>
        <p>
          DIYing your site is a great way to waste a bunch of time and money
        </p>
      </div>
    
      <div class="flex-item p-5">
        <p class="mb-3">
          <strong>Are sick of freelancers who don’t understand business</strong><br/>
        </p>
        <p>
          We’re a team of consultants who happen to write code. This approach allows us to build affordable and sustainable solutions the first time.
        </p>
      </div>

      <div class="flex-item p-5">
        <p class="mb-3">
          <strong>Are annoyed with agencies who overcharge</strong><br/>
        </p>
        <p>
          Our clients always know what they will owe. You can expect to receive regular updates on your project and invoice
        </p>
      </div>
    </div>
  </section>
</div>