---
layout: layouts/default.njk
title: Web Design & Website Development - Loopdash
h1: WordPress & Webflow Development
h2: We design & develop WordPress websites.
description: For over a decade, we've been partnering with clients to provide reliable and efficient WordPress development and design services to help their businesses grow long-term.
sitemap:
  changefreq: weekly
  priority: 1.0
---

<section class="section-home-hero container-40 text-centers">
  <h1 class="text--eyebrow">{{ h1 }}</h1>
  <h2 class="font-47 text-bold">{{ h2 }}</h2>
  <p class="font-42 mb-2">
    {{ description }}
  </p>
  {% include "partials/calendly-button.njk" %}
  <div class="grid section-home-hero__review">
    <img class="grid-item section-home-hero__review__stars" src="/images/review-stars.svg" alt="5 out of 5 stars">
      <div class="grid-item section-home-hero__review__text vertical-carousel">
        <span class="font-39">Join 67+ happy clients</span>
        <span class="font-39">Get a free consultation</span>
        <span class="font-39">Rated 5 stars on Google</span>
        <span class="font-39">No credit card required</span>
        <span class="font-39">Talk to a professional dev today ☝️</span>
      </div>
    </div>
  </section>
  {% include "partials/problem-section.njk" %}
  <section class="section-slideshow">
    <img class="section-slideshow__image" src="/images/work.gif" alt="animated slideshow of Loopdash's work"/>
  </section>
  {% include "partials/faq-section.njk" %}
  {% include "partials/cta-section.njk" %}
  {% include "partials/logo-section.njk" %}