---
layout: text.njk
title: Inspiration - Loopdash
h1: Inspiration
h2:
description:
sitemap:
  changefreq: weekly
  priority: 0.1
---

<section class="container-lg mx-auto">
  <div class="flex flex-gap">
    <div class="flex-item">
      <h1 class="h1 intro font-weight-400">What would life be if we had no courage to attempt anything?</h1>
    </div>
    <div class="flex-item">
    </div>
  </div>
  <div class="flex flex-gap">
    <div class="flex-item">
      <p class="lead mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
        <div class="mb-8">
          {% image "./src/images/inspiration/6.jpg", "substance" %}
        </div>
        <div class="mb-8">
          {% image "./src/images/inspiration/7.jpg", "manifesto" %}
        </div>
        <div class="mb-8">
          {% image "./src/images/inspiration/8.jpg", "menu" %}
        </div>
    </div>
      <div class="flex-item">
        <div class="mb-8">
          {% image "./src/images/inspiration/1.jpg", "jaguar xj advertisement" %}
        </div>
        <div class="mb-8">
          {% image "./src/images/inspiration/2.png", "saul steinberg self portrait" %}
        </div>
        <div class="mb-8">
          {% image "./src/images/inspiration/3.jpg", "sunday dinner" %}
        </div>
        <div class="mb-8">
          {% image "./src/images/inspiration/4.jpg", "pasta maker" %}
        </div>
        <div class="mb-8">
          {% image "./src/images/inspiration/5.jpg", "compressor" %}
        </div>
      </div>
  </div>
</section>
