---
layout: text.njk
title: Privacy Policy - Loopdash
h1: Privacy Policy
h2: What we do with your data
description: Last Updated March 2023
sitemap:
  changefreq: weekly
  priority: 0.1
---

<section class="container-lg mx-auto">
  <h1 class="h1 intro font-weight-400">Privacy Policy</h1>
  <div class="flex flex-gap">
    <div class="flex-item">
      <p>This Privacy Notice outlines the data practices for loopdash.com, focusing exclusively on information collected through this website. Here’s what it covers:</p>
      <ul>
        <li>The personal information we collect, how it's used, and who we may share it with.</li>
        <li>Your options for controlling how your data is used.</li>
        <li>The measures we take to protect your information from misuse.</li>
        <li>How to update or correct inaccuracies in your personal information.</li>
      </ul>
    </div>
      <div class="flex-item">&nbsp;
      </div>
    </div>
    </div>
  </div>

  <div class="flex flex-gap">
    <div class="flex-item">
      <h2 class="h3">Information Collection, Use, and Sharing</h2>
      <p>We are the sole owners of the information collected on this website. The only information we access or collect is what you voluntarily provide to us through email or other direct communication. We do not sell or rent your information to anyone.</p>
      <p>We will use the information you provide solely to respond to your inquiry or address the purpose of your contact. Your information will not be shared with any third party outside of our organization.</p>
      <p>Unless you request otherwise, we may occasionally contact you via email to share updates about our studio projects and news.</p>
    </div>
    <div class="flex-item">
      <h2 class="h3">Google Analytics</h2>
      <p>We use Google Analytics to analyze website traffic in an aggregated and anonymized manner. To track your session activity, Google places a cookie (_ga) in your browser with a randomly generated ClientID. This ID is fully anonymized and does not include any personal information such as your name, email, or phone number. Additionally, we send Google your IP address. The data helps us understand overall website behavior, including which pages are visited and how long users stay on them.</p>
      <p>This information is crucial for improving the user experience and assessing our site’s performance. If you wish to view the browsing data we collect or request its removal, you can delete the _ga cookies from your browser or install the Google Analytics Opt-Out Browser Add-On.</p>
    </div>
  </div>
</section>
