---
layout: home.njk
meta: 
  title: Projects
  description: Loopdash partners with nonprofits and businesses to deliver expert web design, development, SEO, and hosting solutions that drive results and simplify growth.
pagination:
  data: collections.projects
  size: 10
  alias: projects
sitemap:
  changefreq: weekly
  priority: 1.0
---

<section class="text-set text-set-home pb-16">
  <h1 class="text-12 text-weight-600 text-gradient">Projects</h1>
  <p class="text-7 text-charcoal-light text-weight-400"></p>
</section>

<section class="projects container-xl">
  {% for project in projects %}
    <a href="{{project.data.page.url}}" class="project project-{{project.data.project.class}} ">
      <div class="project-details">
        <h4 class="text-9 m-0 mb-1 reveal">{{ project.data.project.name }}</h4>
        <p class="text-6 m-0 text-weight-400 reveal">{{ project.data.project.tagline }}</p>
      </div>
    </a>
  {% endfor %}
</section>

<section class="cta">
  <div class="cta-container">
    <h4 class="text-10 text-weight-600">Our actions today shape tomorrow. Let's get started.</h4>
    <a href="/contact" class="button button-primary">Contact us</a>
  </div>
</section>