---
layout: text.njk
meta:
  title: Share
  description: Securely share credentials and details.
sitemap:
  changefreq: weekly
  priority: 0.1
---

<div>
  <section class="mx-auto">
    <div class="text-set mb-0">
      <h1 class="text-11 text-weight-600 text-gradient">Share</h1>
      <p class="text-5 text-charcoal-light text-weight-400">Send passwords directly to Loopdash with end-to-end security.</p>
    </div>

    <div class="container-xs mx-auto mb-10">
      <form id="shareForm" class="form" action="https://api.loopda.sh/create-password/" method="POST" enctype="multipart/form-data"
>
        <div class="form-group">
          <label class="form-label" for="email">Your Email</label>
          <input class="form-input" type="email" id="email" name="email" placeholder="you@example.com" required>
        </div>

        <div class="hr my-5"></div>

        <p class="text-charcoal text-5 text-weight-550">Account Details</p>

        <div class="form-group">
          <label class="form-label" for="website">Website</label>
          <input class="form-input" type="text" id="website" name="website" placeholder="example.com">
        </div>

        <div class="mb-6">
          <div class="form-group">
            <label class="form-label">Account Type</label>
            <div class="form-selector-group">

              <input class="form-selector-input" type="radio" id="account_cms" name="account_type" value="CMS" checked>
              <label for="account_cms" class="form-selector form-selector-label">
                <span class="form-selector-left-col">
                  <div class="icon-wrapper">
                    {% svgIcon "./src/img/icons/browser.svg" %}
                  </div>
                </span>
                <span class="form-selector-title">CMS/WordPress</span>
              </label>

              <input class="form-selector-input" type="radio" id="account_hosting" name="account_type" value="Hosting">
              <label for="account_hosting" class="form-selector form-selector-label">
                <span class="form-selector-left-col">
                  <div class="icon-wrapper">
                    {% svgIcon "./src/img/icons/server.svg" %}
                  </div>
                </span>
                <span class="form-selector-title">Hosting</span>
              </label>

              <input class="form-selector-input" type="radio" id="account_registrar" name="account_type" value="Registrar">
              <label for="account_registrar" class="form-selector form-selector-label">
                <span class="form-selector-left-col">
                  <div class="icon-wrapper">
                    {% svgIcon "./src/img/icons/globe.svg" %}
                  </div>
                </span>
                <span class="form-selector-title">Domain Registrar</span>
              </label>

              <input class="form-selector-input" type="radio" id="account_api" name="account_type" value="API">
              <label for="account_api" class="form-selector form-selector-label">
                <span class="form-selector-left-col">
                  <div class="icon-wrapper">
                    {% svgIcon "./src/img/icons/terminal.svg" %}
                  </div>
                </span>
                <span class="form-selector-title">API</span>
              </label>

              <input class="form-selector-input" type="radio" id="account_database" name="account_type" value="Database">
              <label for="account_database" class="form-selector form-selector-label">
                <span class="form-selector-left-col">
                  <div class="icon-wrapper">
                    {% svgIcon "./src/img/icons/database.svg" %}
                  </div>
                </span>
                <span class="form-selector-title">Database</span>
              </label>

              <input class="form-selector-input" type="radio" id="account_other" name="account_type" value="Other">
              <label for="account_other" class="form-selector form-selector-label">
                <span class="form-selector-left-col">
                  <div class="icon-wrapper">
                    {% svgIcon "./src/img/icons/question.svg" %}
                  </div>
                </span>
                <span class="form-selector-title">Other</span>
              </label>

            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label" for="username">Username or Email</label>
          <input class="form-input" type="text" id="username" name="username" placeholder="Enter your username or email" required>
        </div>

        <div class="form-group">
          <label class="form-label" for="pa">Password</label>
          <input class="form-input" type="password" id="pa" name="pa" placeholder="Enter your password" required>
        </div>

        <div class="hr my-5"></div>

        <div class="form-group">
          <label class="form-label" for="notes">Notes</label>
          <textarea id="notes" name="notes" class="form-input" placeholder="Any additional info (optional)"></textarea>
        </div>

        <button type="submit" class="button button-primary">Send</button>
      </form>
    </div>
  </section>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const urlParams = new URLSearchParams(window.location.search);
    const success = urlParams.get("success");
    const formContainer = document.querySelector(".container-xs");

    if (success === "1") {
      // Success message
      const successMessage = document.createElement("p");
      successMessage.className = "success text-green";
      successMessage.setAttribute("aria-live", "polite");
      successMessage.textContent = "Your credentials have been securely shared.";
      
      formContainer.insertAdjacentElement("afterbegin", successMessage);
    } else if (success === "0") {
      // Error message
      const errorMessage = document.createElement("p");
      errorMessage.className = "error text-red";
      errorMessage.setAttribute("aria-live", "assertive");
      errorMessage.textContent = "There was an error submitting your credentials. Please try again.";
      
      formContainer.insertAdjacentElement("afterbegin", errorMessage);
    }
  });
</script>