---
layout: text.njk
meta:
  title: Share
  description: Securely share credentials and details.
sitemap:
  changefreq: weekly
  priority: 0.1
---

<div>
  <section class="mx-auto">
    <div class="text-set mb-0">
      <h1 class="text-11 text-weight-600 text-gradient">Share</h1>
      <p class="text-5 text-charcoal-light text-weight-400">Securely share credentials and relevant details.</p>
    </div>

    <div class="container-xs mx-auto mb-10">
      <form id="shareForm" class="form" action="https://api.loopda.sh/api/webhook/" method="POST">
         <input
          type="hidden"
          name="_redirect"
          value="https://loopdash.com/thank-you"
        />

        <div class="form-group">
          <label class="form-label" for="email">Your Email</label>
          <input class="form-input" type="email" id="email" name="email" placeholder="you@example.com" required>
        </div>

        <div class="hr my-5"></div>

        <p class="text-charcoal text-5 text-weight-550">Account Details</p>

        <div class="form-group">
          <label class="form-label" for="account_type">Account Type</label>
          <select class="form-input" id="account_type" name="account_type">
            <option value="">Select account type</option>
            <option value="WordPress">WordPress</option>
            <option value="Hosting">Hosting</option>
            <option value="Registrar">Domain Registrar</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-label" for="username">Username or Email</label>
          <input class="form-input" type="text" id="username" name="username" placeholder="Enter your username or email" required>
        </div>

        <div class="form-group">
          <label class="form-label" for="pa">Password</label>
          <input class="form-input" type="pa" id="pa" name="pa" placeholder="Enter your password" required>
        </div>

        <div class="hr my-5"></div>

        <div class="form-group">
          <label class="form-label" for="details">Additional Details</label>
          <textarea id="details" name="details" class="form-input" placeholder="Any additional info (optional)"></textarea>
        </div>

        <button type="submit" class="button button-primary">Send</button>
      </form>
    </div>
  </section>
</div>