---
layout: text.njk
meta:
  title: Support
  description: 
sitemap:
  changefreq: weekly
  priority: 0.1
---

<section class="container-lg mx-auto">
  <div class="home-hero mb-0">
    <h1 class="text-12 text-weight-550 mb-8 text-gradient">Support</h1>
    <p class="text-7">Great brands aren't just built; they're engineered.</p>
  </div>

  <div class="container-xs mx-auto">
    <form class="form" action="https://submit-form.com/1vijeOzmy">
      <div class="form-group">
        <label class="form-label" for="name">Name</label>
        <input class="form-input" type="text" id="name" name="name" placeholder="Your name" />
      </div>
      <div class="form-group">
        <label class="form-label" for="email">Email Address</label>
        <input class="form-input" type="email" id="email" name="email" placeholder="Your email address" />
      </div>
      <div class="form-group">
        <label class="form-label" for="website">Website</label>
        <input class="form-input" type="text" id="website" name="website" placeholder="The website url"/>
      </div>
      <div class="form-group">
        <label class="form-label" for="message">Details</label>
        <textarea
          id="details"
          name="details"
          class="form-input"
          placeholder="A detailed description of your issue or project."
          required=""
        ></textarea>
      </div>
      <button type="submit" class="button button-primary">Send</button>
    </form>
  </div>
</section>