---
layout: text.njk
title: Services
description: Last Updated March 2023
sitemap:
  changefreq: weekly
  priority: 0.1
---

<section class="container-lg mx-auto">
  <div class="home-hero mb-0">
    <h1 class="text-12 text-weight-550 mb-8">Technology</h1>
    <p class="text-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
  </div>
  <div class="services">
    <div class="col-4 reveal">
      <div class="w-6">
        {% svgIcon "./src/img/icons/php.svg", "icon" %}
      </div>
      <h3 class="text-4 text-weight-500">PHP</h3>
      <p class="text-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
    </div>
    <div class="col-4 reveal">
      <div class="w-6">
        {% svgIcon "./src/img/icons/WordPress.svg", "icon" %}
      </div>
      <h3 class="text-4 text-weight-500">WordPress</h3>
      <p class="text-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
    </div>
    <div class="col-4 reveal">
      <div class="w-6">
        {% svgIcon "./src/img/icons/ruby.svg", "icon" %}
      </div>
      <h3 class="text-4 text-weight-500">Ruby</h3>
      <p class="text-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
    </div>
    <div class="col-4 reveal">
      <div class="w-6">
        {% svgIcon "./src/img/icons/rails.svg", "icon" %}
      </div>
      <h3 class="text-4 text-weight-500">Rails</h3>
      <p class="text-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
    </div>
    <div class="col-4 reveal">
      <div class="w-6">
        {% svgIcon "./src/img/icons/node.svg", "icon" %}
      </div>
      <h3 class="text-4 text-weight-500">Node.js</h3>
      <p class="text-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
    </div>
  </div>
</section>

