a.button,
.button {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .5875rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-top: 1px solid var(--gray-900);
  border-left: 1px solid var(--gray-900);
  border-bottom: 4px solid var(--gray-900);
  border-right: 4px solid var(--gray-900);
  transition: border-color .2s linear;
  color: (--gray-900);
}