.card {
  position: relative;
  border: 1px solid;
  padding: 1.5rem;
}

.card-white {
  border-color: #fff;
}

.card-blue-900 { border-color: var(--blue-900); }
.card-blue-800 { border-color: var(--blue-800); }
.card-blue-700 { border-color: var(--blue-700); }
.card-blue-600 { border-color: var(--blue-600); }
.card-blue-500 { border-color: var(--blue-500); }
.card-blue-400 { border-color: var(--blue-400); }
.card-blue-300 { border-color: var(--blue-300); }
.card-blue-200 { border-color: var(--blue-200); }
.card-blue-100 { border-color: var(--blue-100); }
.card-blue-50 { border-color: var(--blue-50); }