.document--title {
  display: flex;
  align-items: center;
  &:before {
    margin: 0 0.125rem 0 0;
    content: "";
    background: url('../images/folder.svg') no-repeat;
    background-size: 20px 20px;
    width: 24px;
    height: 20px;
    display: inline-block;
  }
}
  