.flex {
  display: flex;
}
.flex-item {
  flex-basis: 100%;
}
.flex-direction-row {
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-content: center;
}

@media screen and (max-width: 960px) {
  .flex-break-md {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
  .flex-row {
    flex-direction: row;
  }
}