@import "variables";

$font-size-head: 60px;
$font-size-subhead: 23px;
$font-size-base: 20px;

$line-height: 1.6;

* {
  font-family: $font-family;
}

@mixin font($font-size) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $font-size * $line-height;
  margin-bottom: $font-size * $line-height;
  color: $body-color;
}

@mixin heading($font-size) {
  font-weight: 800;
  margin-bottom: 0px;
  color: $heading-color;
  line-height: $font-size * ($line-height / 1.25);
}

p {
  @include font($font-size-base);
}

h1 {
  @include font($font-size-head);
  @include heading($font-size-head);
}

h2, h3, h4 {
  @include font($font-size-subhead);
  @include heading($font-size-subhead);
}