@import "variables";
@import "../../node_modules/rfs/scss";

$font-size-base: 17px;
$line-height: 1.6;

*, html {
  font-family: var(--font-sans);
}

h1 { 
  @include font-size(3.5rem); 
  font-weight: 500;
  line-height: 1.35em;
}
h2 { 
  @include font-size(3rem); 
  font-weight: 500;
  line-height: 1.2em;
}  
h3 { 
  @include font-size(2.75rem); 
  font-weight: 500;
  line-height: 1.2em;
} 
h4 { 
  @include font-size(2.5rem); 
  font-weight: 500;
  line-height: 1.2em;
}
h5 { 
  @include font-size(2rem); 
  font-weight: 500;
  line-height: 1.2em;
}
h6 { 
  @include font-size(1.5rem); 
  font-weight: 500;
  line-height: 1.2em;
}
p, ul, li { 
  @include font-size(1rem);
  font-weight: 300;
  @include margin-bottom(1rem);
  line-height: 1.5em;
}
ul, li { margin-bottom: 0; }

.h1 { 
  @include font-size(3.5rem); 
  font-weight: 500;
  line-height: 1.35em;
}
.h2 { 
  @include font-size(3rem);
  font-weight: 500;
  line-height: 1.2em;
}  
.h3 { 
  @include font-size(2.75rem); 
  font-weight: 500;
  line-height: 1.2em;
} 
.h4 { 
  @include font-size(2.5rem); 
  font-weight: 500;
  line-height: 1.2em;
}
.h5 { 
  @include font-size(2rem); 
  font-weight: 500;
  line-height: 1.2em;
}
.h6 { 
  @include font-size(1.5rem); 
  font-weight: 500;
  line-height: 1.2em;
}

.text-center { text-align: center; }
.text-decoration-none { text-decoration: none !important; }
.font-thin { font-weight: 300; }
.font-normal { font-weight: 400 }
.font-bold, strong { font-weight: 600;}
