.field-wrapper {
  display: block;
  overflow: hidden;
  @include margin-bottom(1.5rem);

  label {
    display: block;
    font-weight: 600;
    @include font-size(1rem);
    margin-bottom: 0.3875rem;
  }

  input {
    @include font-size(1rem);
    padding: .75rem 0.875rem;
    width: 100%;
    color: var(--blue-600);
    background: #fff;
    border: 2px solid var(--blue-900);
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 0px red;

    &:focus,
    &:active {
      outline: none;
      border: 2px solid var(--blue-600);
    }
  }

  input[type='checkbox'] {
    width: auto;
  }

  select {
    @include font-size(1rem);
    padding: .75rem 0.875rem;
    width: 100%;
    color: var(--blue-600);
    background: #fff;
    border: 2px solid var(--blue-900);
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 0px red;
  }

  textarea {
    @include font-size(1rem);
    padding: .75rem 0.875rem;
    width: 100%;
    color: var(--blue-600);
    background: #fff;
    border: 2px solid var(--blue-900);
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 10rem;
    box-shadow: inset 0px 0px 0px 0px red;

    &:focus,
    &:active {
      outline: none;
      border: 2px solid var(--blue-6);
    }
  }
}
