@import "font";

.hero {
  font-family: var(--font-family);
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 2.25rem;

  &--content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 56rem;
    overflow: hidden;
  }
  
  h1 {
    text-transform: uppercase;
    font-weight: 400;
    @include heading($font-size-base / 1.25);
    margin-bottom: 0.25rem;
  }
}
