.hero {
  font-family: var(--font-family);
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 400px;
  background: var(--gray-900);
  margin-bottom: 1.75rem;

  .hero-content {
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1, h2 {
      color: #ffffff;
      text-shadow: -2px 2px 1px black;
    }
  }
}