.hero {
  font-family: var(--font-family);
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 50vh;
  background: var(--blue-500);
  margin-bottom: 1.75rem;
  color: #ffffff;
  padding: 2rem;

  &--content {
    width: 42rem;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}