.content-wrapper {
  max-width: 42rem;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--gray-600);
  box-shadow: 0 30px 40px -3px rgba(0,0,0,0.08),0 15px 10px -2px rgba(0,0,0,0.05);
  position: relative;
  background: white;
  border: 1px solid var(--blue-200);
  margin-top: -4rem;
  margin-bottom: 8rem;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: -1;
  }
}

.dropcap {
  color: var(--blue-500);
  float: left;
  font-family: var(--font-mono);
  font-weight: 800;
  font-size: 72px;
  line-height: 48px;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 3px;
}

@media only screen and (min-width: 768px) {
  .content-wrapper {
    padding: 3rem;
    margin-top: -4rem;

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3'%3E%3Ccircle cx='2.5' cy='2.5' r='.5' fill='%2380A1F8'/%3E%3C/svg%3E") repeat right bottom;
      position: absolute;
      top: 8px;
      left: 8px;
      z-index: -1;
    }
  }
}