.content-wrapper {
  padding: 0 2rem 2rem 2rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--gray-600);
  background: none;
  position: relative;
  background: white;
  margin-bottom: 8rem;
  margin-top: 0;
}

.dropcap {
  color: var(--green-500);
  float: left;
  font-family: var(--font-mono);
  font-weight: 800;
  font-size: 72px;
  line-height: 48px;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 3px;
}

@media only screen and (min-width: 768px) {
  .content-wrapper {
    padding: 0;
  }
}