.close {
  margin-right: 12px;
  margin-bottom: 2px;
  width: 20px
}

.checkmark {
  margin-right: 12px;
  margin-bottom: 2px;
  width: 20px
}

.folder {
  margin-right: 12px;
  margin-bottom: 2px;
  width: 20px
}