.nav-wrapper {
  color: var(--gray-500);
  z-index: 10000;
  backdrop-filter: blur(24px);
  display: flex;
  max-width: 80rem;
  margin: 0 auto;
}

.nav {
  width: 100%;
}

.nav--list {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
}

.header-navigation-link {
  width: 100%;
  padding: 2rem;
}