.nav-wrapper {
  color: var(--gray-800);
  z-index: 10000;
  backdrop-filter: blur(24px);
  display: flex;
  max-width: 80rem;
  margin: 0 auto;
}

.nav {
  font-weight: 500;
  width: 100%;
}

.nav--list {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
}

.header-navigation-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.75rem 0.5rem;
  border-radius: 0.25rem;

  .active {
    background: var(--green-50);
    border: 1px solid var(--green-600);
    color: var(--green-600);
  }

  a {
    background: var(--gray-50);
    border: 1px solid var(--gray-200);
    padding: 0.125rem 1.25rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
    &:hover {
      background: var(--green-50);
      border: 1px solid var(--green-600);
      color: var(--green-600);
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }

}
