nav {
  max-width: var(--breakpoint-md);
  margin: 0 auto 2.25rem;
  overflow: auto;
  white-space: nowrap;
  a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: #ffffff;
    padding: 1.125rem 1.385rem;
  }

  ul {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      *:first-of-type {
        justify-content: start;
      }
    }
  }
}