.projects {
  display: flex;
  flex-wrap: wrap;
}
.project {
  display: flex;
  flex-direction: column;
  height: 50vh;
  min-height: 512px;
  padding: 1.5rem;
  border-radius: 5px;
  margin: 1%;
  margin-bottom: 1rem;
  width: 48%;

  &:before {
    content: "";
    opacity: 0.5;
    background: url('../images/external-link.svg') no-repeat;
    background-size: 20px 20px;
    width: 26px;
    height: 26px;
    align-self: flex-end;
  }

  span {
    color: rgba(255, 255, 255, 0.6);
  }

  .device {
    height: 40vh;
    margin: 2rem;
    -webkit-transition: opacity .5s ease,-webkit-transform .5s ease;
    transition: opacity .5s ease,-webkit-transform .5s ease;
    transition: opacity .5s ease,transform .5s ease;
    transition: opacity .5s ease,transform .5s ease,-webkit-transform .5s ease;
  }

  &:hover .device {
    -webkit-transition: opacity .5s ease,-webkit-transform .5s ease;
    transition: opacity .5s ease,-webkit-transform .5s ease;
    transition: opacity .5s ease,transform .5s ease;
    transition: opacity .5s ease,transform .5s ease,-webkit-transform .5s ease;
    -webkit-transform: translate3d(0, -12px, 0);
    transform: translate3d(0,-12px,0);
  }

  &--andvari {
    // color: #033232 !important;
    color: #ffffff;
    background: linear-gradient(45deg, #00c4b5 0%, #46D4C9 100%);

    .device {
      background: url('../images/andvari.png') no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &--homedoggy {
    // color: #10528b !important;
    color: #ffffff;
    background: linear-gradient(45deg, #ffce62 0%, #FFE4A9 100%);

    .device {
      background: url('../images/homedoggy.png') no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &--mps {
    // color: #069 !important;
    color: #ffffff;
    background: linear-gradient(45deg, #ff740d 0%, #FFA765 100%);

    .device {
      background: url('../images/mps-2.png') no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &--peak {
    // color: #069 !important;
    color: #ffffff;
    background: linear-gradient(45deg, #8cc547 0%, #ABD579 100%);

    .device {
      background: url('../images/peak.png') no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &--magna {
    // color: #069 !important;
    color: #ffffff;
    background: linear-gradient(45deg, #df0001 0%, #E84646 100%);

    .device {
      background: url('../images/peak.png') no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .projects {
    display: block;
    padding: 1rem;
    .project {
      width: 100%;
    }
  }
}