
.timeline  {
  text-align: center;
  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      display: block;
      content: ' ';
      background-image: url('../images/arrow-right-circle.svg');
      background-size: 28px 28px;
      text-shadow: 1px 1px var(--blue-900);
      height: 28px;
      width: 28px;
    }
  }
}

@media screen and (max-width: 768px) {
  .timeline  {
    .step {
      &:after {
        margin: 1.25rem;
        display: block;
        content: ' ';
        background-image: url('../images/arrow-right-circle.svg');
        background-size: 28px 28px;
        text-shadow: 1px 1px var(--blue-900);
        height: 28px;
        width: 28px;
        transform:rotate(90deg);
      }
    }
  }
}