---
layout: text.njk
title: Glossary
h1: WordPress Glossary
h2: The A-Zs of WordPress
description: The A-Zs of the WordPress
pagination:
  data: collections.glossary
  size: 10
  alias: terms
sitemap:
  changefreq: weekly
  priority: 0.6
---

<section class="container-sm mx-auto">
  <div class="mt-12 mb-12">
    <h1 class="text-13 text-weight-400 text-gradient">Glossary</h1>
    <h2 class="text-5 text-charcoal-light text-weight-400">We've put together a glossary of development terms to help.</h2>
  </div>

  {% for term in terms %}
    <a href="{{ term.data.url }}" class="card card-question rounded-7 mb-16 reveal">
      <h3 class="text-4 text-weight-400 my-0">{{ term.data.h1 }}</h3>
      <div class="text-4 text-charcoal-light text-weight-400">
        {{ term.data.description | safe }}
      </div>
    </a>
  {% endfor %}

  <div class="hr my-12"></div>
  <div class="pagination-container">
    <div class="pagination-container__count">
      {% if pagination.previousPageHref %}
        <a class="button button--secondary pagination-item prev" rel="prev" disabled href="{{ pagination.previousPageHref }}">Previous</a>
      {% endif %}
      {% if pagination.nextPageHref %}
        <a class="button button--secondary pagination-item next" rel="next" href="{{ pagination.nextPageHref }}">Next</a>
      {% endif %}
    </div>
    <a href="/glossary/" class="font-42 back-to-glossary">Back to WordPress Glossary</a>
  </div>
</section>