<div id="cta-modal" class="cta-modal" style="display: none; opacity: 0;">
  <div class="cta-modal-backdrop"></div>
  <div class="cta-modal-content">
    <div class="card card-default">
      <div class="flex justify-end p-3">
        <button id="cta-modal-close" class="close-button text-charcoal-light">
          {% svgIcon "./src/img/icons/close.svg" %}
        </button>
      </div>
      <div class="pb-6 pt-3 px-3">
        <p class="text-5 text-weight-600 text-charcoal">New clients get $750 in free dev or design work.</p>
        <p class="text-3 text-charcoal mb-8">Join a select group of organizations growing with expert support and measurable outcomes.</p>
        <div class="text-center">
          <a href="/signup?rel=modal" class="button button-primary plausible-event-name=Modal+CTA+Button+Click">Get started</a>
        </div>
      </div>
    </div>
  </div>
</div>
