<div class="introduction introduction-{{project.class}}">
  <div class="flex justify-between mx-auto py-24 container-lg">
    <div class="col-7">
      <p class="text-5 text-weight-300">{{ project.description | safe}}</p>
    </div>
    <div class="col-4 details">
      <h5 class="text-3 mb-0 text-weight-600 text-uppercase">Industry</h5>
      <ul class="text-3">
        <li>{{project.industry}}</li>
      </ul>

      {% if project.services %}
        <h5 class="text-3 mb-0 text-weight-600 text-uppercase">Services</h5>
          <ul class="text-3">
          {% for service in project.services %}
            <li>{{ service.name }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if project.collaborators %}
        <h5 class="text-3 mb-0 text-weight-600 text-uppercase">Collaborators</h5>
          <ul class="text-3">
          {% for collaborator in project.collaborators %}
            <li>{{ collaborator.name }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if project.press %}
        <h5 class="text-3 mb-0 text-weight-600 text-uppercase">Press</h5>
          <ul class="text-3">
          {% for item in project.press %}
            <li><a href="{{ item.link }}" target="_blank" class="link-chevron">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if project.website %}
        {% set link = project.website | replace("https://", "") | replace("http://", "") %}
        <h5 class="text-3 mb-0 text-weight-600 text-uppercase">Website</h5>
        <ul class="text-3">
          <li><a href="{{ project.website }}" class="link-chevron" target="_blank">{{ link }}</a></li>
        </ul>
      {% endif %}
    </div>
  </div>
</div>