<div class="hero">
  {% image project.hero.src, project.hero.alt, [2200, 600], ["jpeg", "webp"], "single-project-hero" %}
  <h1 class="container-lg mx-auto text-12 mb-6 text-white text-weight-600">{{ project.name }}</h1>
</div>