<section class="container-sm mx-auto">
  <h6 class="text-2 text-center text-weight-600 text-charcoal-light text-uppercase">Share</h6>
  <div class="flex-center flex">
    <a href="https://twitter.com/intent/tweet?text=Check+this+out!+&url={{ url }}" class="link-chevron" target="_blank" rel="noopener noreferrer">Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" class="link-chevron" target="_blank" rel="noopener noreferrer">Facebook</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title=Check+this+out!" class="link-chevron" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    <a href="https://bsky.app/share?text=Check+this+out!+&url={{ url }}" class="link-chevron" target="_blank" rel="noopener noreferrer">Bluesky</a>
    <a href="#" class="link-chevron" onclick="copyLink()">Copy Link</a>
  </div>
</section>

<script>
  function copyLink() {
    const link = '{{ url }}';
    navigator.clipboard.writeText(link)
      .then(() => {
        
      })
      .catch((err) => {
        alert('Failed to copy link: ' + err);
      });
  }
</script>
