<div class="state-modal" style="display: none; opacity: 0;">
  <div class="state-modal-content">
    <div class="state-modal-text">
      <p id="modal-title" class="text-3 text-charcoal text-weight-500 mb-3">Success!</p>
      <p id="modal-subtext" class="text-2 mb-0 text-charcoal-light">Your action was successful.</p>
    </div>
    <div class="state-modal-close">
      <button class="close-button text-charcoal-light">
        {% svgIcon "./src/img/icons/close.svg" %}
      </button>
    </div>
  </div>
</div>

{% include 'partials/_cta-modal.njk' %}