<div class="table-of-contents">
  <div class="toc-header">
    <h3 class="toc-title">In this article</h3>
    <div class="toc-divider"></div>
  </div>
  <ul class="toc-list" id="toc-list">
    <!-- Headings will be populated by JavaScript -->
  </ul>
</div>