<div class="banner">
  <button class="banner-close" type="button">
    {% svgIcon "./src/img/icons/close.svg", "banner-close-icon" %}
  </button>
  <div class="banner-content">
    <div class="banner-inner">
      <p class="banner-text">New clients get up to 5 hours of dev if you qualify.</p>
      <a class="banner-link" href="/signup" target="_blank" rel="noopener">
        Learn More
        <div class="banner-arrow">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.33325 8.00017H12.6665M12.6665 8.00017L7.99994 3.3335M12.6665 8.00017L7.99994 12.6669" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
      </a>
    </div>
  </div>
</div>
