<a
  href=""
  class="button button--calendly"
  onclick="Calendly.initPopupWidget({url: 'https://calendly.com/loopdash/talk-to-a-web-developer'});return false;">
  <span>Talk to a dev</span>
  <img src="/images/chevron-right.svg" alt="arrow icon" class="button__icon">
</a>