<a
  href=""
  class="button button--calendly"
  onclick="Calendly.initPopupWidget({url: 'https://calendly.com/loopdash/talk-to-a-web-developer'});return false;">
  <span>Talk to a Dev</span>
  <img src="/images/calendar.svg" alt="calendar icon" class="sticky-cta__icon">
</a>