<div class="section-faqs container-40 fadein">
  <h4 class="font-46 text-bold text-center">FAQ</h4>
  <div class="mb-3">
    {% for question in collections.faq | reverse | limit(5) %}
      <div class="faq" id="faq">
        <h6 class="question font-41 text-bold">{{ question.data.question }}</h6>
        <div class="answer">
          <p class="font-41">
            {{ question.templateContent | safe }}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <a href="/faq/" class="button button--secondary">More FAQ</a>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".answer").hide();
    $(".question").click(function () {
      $(this).next(".answer").toggle();
    });
  });
</script>