<div class="section-faqs container-40">
  <h4 class="font-45 text-bold text-center">FAQs</h4>
  <div class="faq" id="faq">
    <h6 class="question font-41 text-bold">What is Loopdash?</h6>
    <div class="answer">
      <p class="font-40">
        Loopdash is a design/development practice led by Gary Bunofsky, who oversees creative, dev, and strategy. Loopdash is
        composed of a selective group of collaborators that contribute to deliver an exceptional project outcomes.
      </p>
    </div>
  </div>
  <div class="faq" id="faq">
    <h6 class="question font-41 text-bold">What kind of projects do you work on?</h6>
    <div class="answer">
      <p class="font-40">We specialize in WordPress development. Often we find the most value working on web or branding
        revamps that translate into marketing website projects. We like to collaborate closely with founders or
        marketing/product leads. Most of our clients hire us for:</p>
      <ul class="font-40">
        <li class="check">Brand / Visual Identity</li>
        <li class="check">Website Design</li>
        <li class="check">Website Development in WordPress or Webflow</li>
        <li class="check">Web App Development in Rails or React</li>
        <li class="check">On-retainer Support (long-term projects where we act as an outsourced dev team)</li>
      </ul>
    </div>
  </div>
  <div class="faq" id="faq">
    <h6 class="question font-41 text-bold">How do I become a client?</h6>
    <div class="answer">
      <p class="font-40">
        To become a client, please reach out via email to hello@loopdash.com or schedule a time to
        <a
          href=""
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/loopdash/talk-to-a-web-developer'});return false;">review
          your project</a>.
      </p>
    </div>
  </div>
  <div class="faq" id="faq">
    <h6 class="question font-41 text-bold">What does it cost to work with Loopdash?</h6>
    <div class="answer">
      <p class="font-40">We prefer to work on a fixed-cost for a majority of our projects. To give an accurate figure, we need
        to understand your requirements, scope, deliverables and timelines. With that being said, most projects range from
        $10-20k USD and take around 4-12 weeks to deliver. The minimum level of engagement is currently set at $5K USD.
      </p>
    </div>
  </div>
  <div class="faq" id="faq">
    <h6 class="question font-41 text-bold">Who owns the website and deliverables after the project?</h6>
    <div class="answer">
      <p class="font-40">Once the project is completed and paid in full you will own all assets and deliverables. We believe
        in providing our clients with complete ownership of their projects, which includes the website and brand identity.
      </p>
    </div>
  </div>
  <div class="faq" id="faq">
    <h6 class="question font-41 text-bold">How do I join Loopdash?</h6>
    <div class="answer">
      <p class="font-40">We are not actively seeking new collaborators at this time. If you are interested in joining
        Loopdash, please send us a note at
        <a href="mailto:hello@loopdash.com">hello@loopdash.com</a>
      </p>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".answer").hide();
    $(".question").click(function () {
      $(this).next(".answer").toggle();
    });
  });
</script>