<section class="section-logos">
  <div class="grid" id="container">
    <img class="grid-item" src="/images/accountable-tech.svg" width="130" height="auto" alt="accountabletech logo">
    <img class="grid-item" src="/images/csv.svg" width="130" height="auto" alt="accountable tech logo">
    <img
      class="grid-item"
      src="/images/first-federal-lakewood.svg"
      width="130"
      height="auto"
      alt="first federal lakewood logo">
    <img class="grid-item" src="/images/forward-majority.svg" width="130" height="auto" alt="forward majority logo">
    <img class="grid-item" src="/images/accrue.svg" width="130" height="auto" alt="accrue logo">
    <img class="grid-item" src="/images/scotts.svg" width="130" height="auto" alt="scotts logo">
    <img class="grid-item" src="/images/momofuku.svg" width="130" height="auto" alt="momofuku logo">
    <img class="grid-item" src="/images/hd-group.svg" width="130" height="auto" alt="hd group logo">
    <img class="grid-item" src="/images/forge.svg" width="130" height="auto" alt="forge logo">
    <img class="grid-item" src="/images/long-horn.svg" width="130" height="auto" alt="long horn logo">
    <img class="grid-item" src="/images/cozen.svg" width="130" height="auto" alt="cozen logo">
    <img class="grid-item" src="/images/picnic.svg" width="130" height="auto" alt="picnic logo">
  </div>
</section>