<section class="section-logos">
  <div class="padding-global">
    <div class="large-container grid">
      <div class="logos-heading grid-item">We Coded for</div>
      <img
        class="grid-item"
        src="/images/accountable-tech.svg"
        loading="lazy"
        width="130"
        height="auto"
        alt="accountabletech logo">
      <img class="grid-item" src="/images/csv.svg" loading="lazy" width="130" height="auto" alt="accountable tech logo">
      <img
        class="grid-item"
        src="/images/first-federal-lakewood.svg"
        loading="lazy"
        width="130"
        height="auto"
        alt="first federal lakewood logo">
      <img
        class="grid-item forward-majority"
        src="/images/forward-majority.svg"
        loading="lazy"
        width="130"
        height="auto"
        alt="forward majority logo">
      <img class="grid-item" src="/images/magna.svg" loading="lazy" width="130" height="auto" alt="momofuku logo">
    </div>
  </div>
</section>