<div class="grid section-home-hero__review">
  <img class="grid-item section-home-hero__review__stars" src="/images/review-stars.svg" alt="5 out of 5 stars">
    <div class="grid-item section-home-hero__review__text vertical-carousel">
      <span class="font-39">{{ perk_1 }}</span>
      <span class="font-39">{{ perk_2 }}</span>
      <span class="font-39">{{ perk_3 }}</span>
      <span class="font-39">{{ perk_4 }}</span>
      <span class="font-39">{{ perk_5 }}</span>
    </div>
  </div>