<picture class="{{image.classes}}">
  <source srcset="{{picture.src}}.webp" type="image/webp">
  <source srcset="{{picture.src}}.png" type="image/png">
  <img src="{{picture.src}}.png" alt="{{picture.alt}}">
</picture>