<section class="section-problem">
  <div class="container-72">
    <div class="grid mb-6">
      <div class="grid-item fadein">
        {% set picture = { src: 'images/computer', alt: 'computer with terminal running', classes: null } %}
        {% include "partials/picture.njk" %}
      </div>
      <div class="grid-item fadein">
        <h2 class="font-45 text-bold">Building a website for your business can be brutal.</h2>
        <p class="font-41">Discover the winning formula for success: more traffic plus a strategic content approach equals
          increased donations and more votes. Our team of experts is dedicated to helping political organizations like yours
          achieve their fundraising goals. Take the first step towards success—schedule your complimentary site audit today.
        </p>
      </div>
    </div>
  </div>
</section>