<section class="section-problem">
  <div class="container-72">
    <h2 class="font-45 text-bold text-center mb-3">Our Approach</h2>
    <div class="grid mb-6">
      <div class="grid-item fadein">
        <h3 class="font-42 text-bold one">Content Strategy</h3>
        <p class="font-40">We craft a tailored content plan to deliver impactful messaging that resonates with constituents and
          supporters igniting meaningful engagement and fostering lasting connections.
        </p>
      </div>
      <div class="grid-item fadein">
        <h3 class="font-42 text-bold two">More Exposure</h3>
        <p class="font-40">We attract a larger audience, and foster heightened awareness and support for your campaign or social
          welfare website through targeted strategies and purposeful engagement.
        </p>
      </div>
      <div class="grid-item fadein">
        <h3 class="font-42 text-bold three">Better UX</h3>
        <p class="font-40">We enhance user experiences through intuitive design, seamless navigation, and personalized
          interactions. This fosters deeper connections with supporters and facilitates active participation.
        </p>
      </div>
      <div class="grid-item fadein">
        <h3 class="font-42 text-bold four">More Signatures & Donations</h3>
        <p class="font-40">Combining these impactful approaches, we generate more signatures, support and donations, empowering
          your campaign to make a significant impact and achieve your desired goals.
        </p>
      </div>
    </div>
    <div class="text-center">
      {% include "partials/calendly-button.njk" %}
    </div>
  </div>
</section>