<section class="section-problem">
  <div class="container-72">
    <div class="grid mb-6">
      <div class="grid-item">
        {% set picture = { src: 'images/computer', alt: 'computer with terminal running', classes: null } %}
        {% include "partials/picture.njk" %}
      </div>
      <div class="grid-item">
        <h2 class="font-45 text-bold">Building a website for your business can be brutal.</h2>
        <p class="font-41">First your try to DIY your site, only to be left with a bunch of broken links and a website that
          looks like it was built in 1999.
        </p>
        <p class="font-41">Next, you meet with a dozen development teams and get 3 proposals a month later.
        </p>
        <p class="font-41">If you're really lucky and you hire the right team, your website gets a whole lot better... then you
          request a small change and your team is unresponsive.
        </p>
        <p class="font-41">We've seen it happen to our clients, so we started Loopdash to become the web development team we
          wish we could have hired. That means providing fair pricing, fast turnaround times, and founder-friendly collaboration
          to build the website you envision.
        </p>
      </div>
    </div>
  </div>
</section>