<div class="container-72">
  <h4 class="font-46 text-bold text-center">.</h4>
  <div class="section-services">
    <div class="service">
      <h3 class="font-41 text-bold">Websites</h3>
      <p class="font-41">We build beautiful and engaging websites that will captivate your audience and enhance your online
        presence.</p>
    </div>
    <div class="service">
      <h3 class="font-41 text-bold">Landing Pages</h3>
      <p class="font-41">Dynamic and responsive websites tailored to your brand using the power of WordPress.</p>
    </div>
    <div class="service">
      <h3 class="font-41 text-bold">UX/UI</h3>
      <p class="font-41">We build custom and scalable websites that will elevate your brand and improve user experience.</p>
    </div>
    <div class="service">
      <h3 class="font-41 text-bold">Emails</h3>
      <p class="font-41">Our team designs and develops email campaigns that will help you connect with your audience.</p>
    </div>
    <div class="service">
      <h3 class="font-41 text-bold">Logos</h3>
      <p class="font-41">Establish a unique and memorable brand identity that will set you apart from your competitors.</p>
    </div>
    <div class="service">
      <h3 class="font-41 text-bold">Integrations</h3>
      <p class="font-41">Streamline your business operations and enhance efficiency with seamless middleware integrations.</p>
    </div>
  </div>
</div></div>