<a href=""
  class="button sticky-cta"
  onclick="Calendly.initPopupWidget({url: 'https://calendly.com/loopdash/talk-to-a-web-developer'});return false;">
  <span>Start your project</span>
  <img src="/images/chevron-right.svg" alt="arrow icon" class="button__icon">
</a>
{# <a href="tel:3307707708" class="sticky-cta">
  <span>Call a Dev</span>
  <img src="/images/phone-call.svg" alt="phone icon" class="sticky-cta__icon">
</a> #}
