<a href="sms:3307707708&body=Hi, I need some help with my website" class="sticky-cta">
  <span>Text a Dev</span>
  <img src="/images/message-circle.svg" alt="message icon" class="sticky-cta__icon">
</a>
{# <a href="tel:3307707708" class="sticky-cta">
  <span>Call a Dev</span>
  <img src="/images/phone-call.svg" alt="phone icon" class="sticky-cta__icon">
</a> #}
