<div class="section-why page-content container-72">
  <div class="container-40 text-center mb-2">
    <h3 class="font-46">Why work with Loopdash?</h3>
  </div>
  <div class="grid">
    <div class="card grid-item">
      <div
        class="why-image-container">{# <img src="../images/computer.png"/> #}
      </div>
      <h3 class="text-bold font-45">Freelancers</h3>
      <ul>
        <li class="font-41 check">
          Inexpensive
        </li>
        <li class="font-41 close">
          No quality control
        </li>
        <li class="font-41 close">
          Communication challenges
        </li>
        <li class="font-41 close">
          Lack dependability
        </li>
        <li class="font-41 close">
          Limited expertise
        </li>
        <li class="font-41 close">
          Lack of team collaboration
        </li>
        <li class="font-41 close">
          No long-term relationship
        </li>
      </ul>
    </div>
    <div class="card grid-item">
      <div
        class="why-image-container">{# <img src="../images/computer.png"/> #}
      </div>
      <h3 class="text-bold font-45">Agencies</h3>
      <ul>
        <li class="font-41 check">
          Quality work
        </li>
        <li class="font-41 close">
          Expensive
        </li>
        <li class="font-41 close">
          Slower delivery
        </li>
        <li class="font-41 close">
          Less flexibility
        </li>
        <li class="font-41 close">
          Lack of personalization
        </li>
        <li class="font-41 close">
          Potential communication issues
        </li>
        <li class="font-41 close">
          Overlapping projects
        </li>
      </ul>
    </div>
    <div class="card grid-item">
      <div
        class="why-image-container">{# <img src="../images/computer.png"/> #}
      </div>
      <h3 class="text-bold font-45">Loopdash</h3>
      <ul>
        <li class="font-41 check">
          Quality work
        </li>
        <li class="font-41 check">
          Affordable
        </li>
        <li class="font-41 check">
          Quick delivery
        </li>
        <li class="font-41 check">
          More flexibility
        </li>
        <li class="font-41 check">
          Long-term relationship
        </li>
        <li class="font-41 check">
          Customizable solutions
        </li>
        <li class="font-41 check">
          Prompt communication
        </li>
      </ul>
    </div>
  </div>